#content {

  .byline-icon {
    width: 20px;
    height: 20px;
  }

  .documentByLine, #plone-document-byline {
    min-height: 3em;

    .description {
      margin-bottom: 1em;
      margin-top: -1em;
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul {
      margin-left: 0;

      li {
        display: inline;
        border-left: 1px solid #333;
        padding: 0 0.2em 0 0.5em;

        &:first-child {
          border-left: none;
          padding-left: 0;
        }

        > * {
          margin: 0;
          padding: 0;
        }
      }

      .label {
        color: #333;
      }
    }
  }
}
