#opengever_meeting_protocol {
  .spv-label {
    display: table;
    padding: $padding-factor * 10px $padding-factor * 15px;
    box-sizing: border-box;
    margin: 0;
    border-radius: $border-radius;
    background-color: $gray-dark;
    color: $white;
    line-height: 20px;
    font-weight: normal;
    > i {
      display: table-cell;
      font-style: normal;
      font-size: 20px;
      @extend .fa;
      @extend .fa-info;
    }
    > span {
      display: table-cell;
      padding-left: 5px;
      vertical-align: top;
    }

    &.info {
      background-color: $message-info;
      > i {
        @extend .fa-info;
      }
    }
    &.warning {
      background-color: $message-warn;
      > i {
        @extend .fa-exclamation-triangle;
      }
    }
    &.error {
      background-color: $message-error;
      > i {
        @extend .fa-exclamation-triangle;
      }
    }
  }
}
