.icon-image,
.icon-dokument_bilddatei {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 0px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_email {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -48px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_excel {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -96px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_illustrator {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -144px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_indesign {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -192px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_mindmanager {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -240px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_msproject {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -288px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_openoffice_calc {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -336px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_openoffice_draw {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -384px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_openoffice_impress {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -432px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_openoffice_math {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -480px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_openoffice_writer {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -528px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_pdf {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -576px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_photoshop {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -624px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_powerpoint {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -672px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_text {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -720px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_visio {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -768px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_webdokument {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -816px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_word {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -864px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_verweis {
  background: url("++resource++opengever.theme/images/contenttypes-sprite.png") no-repeat scroll 0 -576px rgba(0, 0, 0, 0);
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-dokument_zip {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -912px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
.icon-ps {
  background: url("++resource++opengever.theme/images/mimetype-sprite.png") no-repeat 0 -960px;
  padding: 0.1em 0 0.1em 22px;
  height: 16px;
}
