@import url("alabaster.css");
@import url("typography.css");

ul li.toctree-l1,
ul li.toctree-l2,
ul li.toctree-l3 {
    list-style-type: none;
}

h3 {
    margin-top: 1em !important;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* HTTP Request captions in API docs */
dl.get dt, dl.post dt, dl.patch dt, dl.put dt, dl.delete dt {
    font-size: 125%;
}
