*.egg-info
*.mo
*.pyc
.DS_Store
/.installed.cfg
/.mr.developer.cfg
/.python-version
/.ruby-gemset
/.ruby-version
/.sass-cache
/README.html
/_build/
/build/
/buildout.cfg
/coverage/
/develop-eggs/
/dist/
/eggs/
/format_all_xmls.log
/parts/
/requirements.txt
/snakefood/
/src/
/var/
