recursive-include opengever *
recursive-include docs *
include *.rst
include *.txt
global-exclude *.pyc
global-exclude ._*
global-exclude *.mo
exclude opengever/examplecontent/profiles/4teamwork-ldap/ldap_plugin.xml
