[buildout]
parts +=
    sphinx
    api-docs-build-script

[sphinx]
recipe = zc.recipe.egg
eggs =
    Sphinx
    Jinja2
    sphinxcontrib-httpdomain

[api-docs-build-script]
recipe = collective.recipe.template
inline =
    #!/bin/bash
    #
    # Usage:
    # bin/api-docs-build [format]
    #
    # If [format] is specified, it will be passed to `make` as the target,
    # otherwise defaults to 'html'.

    if [ -z $1 ]; then FORMAT='html'; else FORMAT=$1; fi

    set -euo pipefail

    ZOPE_PY="${buildout:bin-directory}/${zopepy:interpreter}"
    BUILDOUT_DIR="${buildout:directory}"
    export SPHINXBUILD="${buildout:bin-directory}/sphinx-build"

    echo -e "Building API docs...\n"

    # Update ReStructuredText .inc files based on JSON schema dumps
    $ZOPE_PY scripts/update-schema-docs.py $BUILDOUT_DIR

    # Build the Sphinx documentation
    cd docs/api
    make clean
    make -e $FORMAT

output = ${buildout:bin-directory}/api-docs-build
mode = 755

[versions]
Sphinx = 1.3.5
docutils = 0.12
Pygments = 2.1
