[buildout]
extends =
    base-qa.cfg
    versions.cfg

parts +=
    bin-test-jenkins

jenkins_python = $PYTHON27

[bin-test-jenkins]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    exitcode=0
    bin/flake8 opengever plonetheme || ((exitcode++))
    bin/isort -c || ((exitcode++))
    exit $exitcode
    # EOF

output = ${buildout:bin-directory}/test-jenkins
mode = 500
