@mixin sprite($dims: 20px) {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: $dims;
  height: $dims;
}

@mixin fa-icon() {
  display: inline-block;
  font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$size-mapping: (
  large: 1.1,
  medium: 1,
  small: .6
);

@function get-size($size) {
  @return map-get($size-mapping, $size);
}

@function min-size($size) {
  @if $size < 12px {
    @return 12px;
  }
  @return $size;
}

@mixin button-list($size: medium, $iconset: fa, $disabled: false) {
  > li {
    > a {
      @include button($size: $size, $iconset: $iconset, $disabled: $disabled);
      margin-bottom: 0;
      border-top: 0;
    }

    &:first-child > a { border-top: 1px solid $gray-dark; }
  }
}

@mixin button($size: medium, $iconset: fa, $disabled: false) {
  $size: get-size($size);
  display: inline-block;
  line-height: normal !important;
  padding: 8px * $size 12px * $size;
  border: 1px solid $gray-dark;
  margin-bottom: 1em;
  margin-right: 5px * $size;
  border-radius: $border-radius;
  transition: background-color .2s ease-out;
  background-color: #fff;

  @if $disabled {
    color: darken($gray-dark, 20%);
    cursor: not-allowed;
  } @else {
    color: #000;

    &:hover {
      background-color: $gray-light;
      text-decoration: none;
    }
  }

  &:visited {
    text-decoration: none;
    color: #000;
  }

  &::before {
    @extend .#{$iconset};
    display: inline-block;
    min-width: min-size(22px * $size);
    font-size: min-size(18px * $size);
    vertical-align: middle;
    text-align: left;
  }

  &::after {
    @extend .#{$iconset};
    display: inline-block;
    min-width: min-size(22px * $size);
    font-size: min-size(18px * $size);
    vertical-align: middle;
    text-align: right;
  }

  > span {
    display: inline-block;
    font-size: min-size(12px * $size);
    vertical-align: middle;
  }

}

@mixin button-fluid($size: medium, $iconset: fa, $disabled: false) {
  @include button($size: $size, $iconset: $iconset, $disabled: $disabled);
  margin-left: 0;
  display: block;
}

@mixin inline-cell-icon($icon-name) {
  &:before {
    @extend .fas;
    @extend .fa-#{$icon-name};
    min-width: 15px;
  }
}

@mixin inline-cell-icon-spin($icon-name) {
  &:before {
    @extend .fas;
    @extend .fa-spin;
    @extend .fa-#{$icon-name};
    margin-right: 4px;
    min-width: 0 !important;
  }
}
