.#{$gv-css-prefix} {
  display: inline-block;
  font-family: OpenGever;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$gv-css-prefix}-committeecontainer:before { content: $gc-var-committeecontainer; }
.#{$gv-css-prefix}-contactfolder:before { content: $gc-var-contactfolder; }
.#{$gv-css-prefix}-copy:before { content: $gc-var-copy; }
.#{$gv-css-prefix}-contact:before { content: $gc-var-contact; }
.#{$gv-css-prefix}-agency:before { content: $gc-var-agency; }
.#{$gv-css-prefix}-pencil:before { content: $gc-var-pencil; }
.#{$gv-css-prefix}-committee:before { content: $gc-var-committee; }
.#{$gv-css-prefix}-time:before { content: $gc-var-time; }
.#{$gv-css-prefix}-reopen:before { content: $gc-var-reopen; }
.#{$gv-css-prefix}-open:before { content: $gc-var-open; }
.#{$gv-css-prefix}-submit:before { content: $gc-var-submit; }
.#{$gv-css-prefix}-square-check:before { content: $gc-var-square-check; }
.#{$gv-css-prefix}-plus:before { content: $gc-var-plus; }
.#{$gv-css-prefix}-cancel:before { content: $gc-var-cancel; }
.#{$gv-css-prefix}-reassign:before { content: $gc-var-reassign; }
.#{$gv-css-prefix}-accept:before { content: $gc-var-accept; }
.#{$gv-css-prefix}-refuse:before { content: $gc-var-refuse; }
.#{$gv-css-prefix}-update-document:before { content: $gc-var-update-document; }
.#{$gv-css-prefix}-membership:before { content: $gc-var-membership; }
.#{$gv-css-prefix}-schedule:before { content: $gc-var-schedule; }
.#{$gv-css-prefix}-proposal:before { content: $gc-var-proposal; }
.#{$gv-css-prefix}-proposaltemplate:before { content: $gc-var-proposal; }
.#{$gv-css-prefix}-inbox:before { content: $gc-var-inbox; }
.#{$gv-css-prefix}-document:before { content: $gc-var-document; }
.#{$gv-css-prefix}-leaf:before { content: $gc-var-leaf; }
.#{$gv-css-prefix}-tree:before { content: $rgc-var-tree; }
.#{$gv-css-prefix}-folder:before { content: $gc-var-folder; }
.#{$gv-css-prefix}-subtask:before { content: $gc-var-subtask; }
.#{$gv-css-prefix}-task:before { content: $gc-var-task; }
.#{$gv-css-prefix}-shared-task:before { content: $gc-var-shared-task; }
.#{$gv-css-prefix}-mail:before { content: $gc-var-mail; }
.#{$gv-css-prefix}-text:before { content: $gc-var-text; }
.#{$gv-css-prefix}-remove:before { content: $gc-var-remove; }
.#{$gv-css-prefix}-document-removed:before { content: $gc-var-document-removed; }
.#{$gv-css-prefix}-mail-removed:before { content: $gc-var-mail-removed; }
.#{$gv-css-prefix}-forward:before { content: $gc-var-forward; }
.#{$gv-css-prefix}-identity:before { content: $gc-var-identity; }
.#{$gv-css-prefix}-check:before { content: $gc-var-check; }
.#{$gv-css-prefix}-meeting:before { content: $gc-var-meeting; }
.#{$gv-css-prefix}-ordered-list:before { content: $gc-var-ordered-list; }
.#{$gv-css-prefix}-gavel:before { content: $gc-var-gavel; }
.#{$gv-css-prefix}-paste:before { content: $gc-var-paste; }
.#{$gv-css-prefix}-flag:before { content: $gc-var-flag; }
.#{$gv-css-prefix}-circle-ok:before { content: $gc-var-circle-ok; }
.#{$gv-css-prefix}-bell:before { content: $gc-var-bell; }
.#{$gv-css-prefix}-star-blank:before { content: $gc-var-star-blank; }
.#{$gv-css-prefix}-star:before { content: $gc-var-star; }
.#{$gv-css-prefix}-location:before { content: $gc-var-location; }
.#{$gv-css-prefix}-leader:before { content: $gc-var-leader; }
.#{$gv-css-prefix}-state:before { content: $gc-var-state; }
.#{$gv-css-prefix}-collapsed:before { content: $gc-var-collapsed; }
.#{$gv-css-prefix}-expanded:before { content: $gc-var-expanded; }
.#{$gv-css-prefix}-comment:before { content: $gc-var-comment; }
