$gv-css-prefix: 'gv' !default;

//**************************************
//           GEVER ICONS               *
//**************************************

$gc-var-committeecontainer: '\e600';
$gc-var-contactfolder: '\e601';
$gc-var-copy: '\e602';
$gc-var-contact: '\e603';
$gc-var-agency: '\e604';
$gc-var-pencil: '\e605';
$gc-var-committee: '\e606';
$gc-var-time: '\e607';
$gc-var-reopen: '\e608';
$gc-var-submit: '\e609';
$gc-var-square-check: '\e60a';
$gc-var-plus: '\e60b';
$gc-var-cancel: '\e60c';
$gc-var-reassign: '\e60d';
$gc-var-accept: '\e60e';
$gc-var-refuse: '\e60f';
$gc-var-update-document: '\e610';
$gc-var-membership: '\e611';
$gc-var-schedule: '\e612';
$gc-var-proposal: '\e613';
$gc-var-inbox: '\e614';
$gc-var-document: '\e615';
$gc-var-leaf: '\e616';
$rgc-var-tree: '\e617';
$gc-var-folder: '\e618';
$gc-var-subtask: '\e619';
$gc-var-task: '\e61a';
$gc-var-shared-task: '\e61b';
$gc-var-mail: '\e61c';
$gc-var-text: '\e61d';
$gc-var-remove: '\e61e';
$gc-var-document-removed: '\e61f';
$gc-var-mail-removed: '\e620';
$gc-var-forward: '\e621';
$gc-var-identity: '\e622';
$gc-var-check: '\e623';
$gc-var-meeting: '\e624';
$gc-var-ordered-list: '\e625';
$gc-var-gavel: '\e626';
$gc-var-paste: '\e627';
$gc-var-flag: '\e628';
$gc-var-circle-ok: '\e629';
$gc-var-bell: '\e62a';
$gc-var-star-blank: '\e62b';
$gc-var-star: '\e62c';
$gc-var-location: '\e62d';
$gc-var-leader: '\e62e';
$gc-var-state: '\e62f';
$gc-var-collapsed: '\e630';
$gc-var-expanded: '\e631';
$gc-var-comment: '\e96e';
