<script id="emailTemplate" type="text/x-handlebars-template">
  {{#each mailaddresses}}
  <tr class="email-record">
    <td>{{label}}</td>
    <td>{{address}}</td>
    <td class="actions">
      <div class="button-group">
        <button class="button toggle-email-edit-form fa fa-edit"></button>
        <button data-delete-url="{{delete_url}}" class="button remove-email fa fa-minus"></button>
      </div>
    </td>
  </tr>
  <tr class="email-record-edit-form">
    <td><input class="update-label" type="text" value={{label}} /></td>
    <td><input class="update-address" type="text" value={{address}} /></td>
    <td class="actions">
      <div class="button-group">
        <button data-update-url="{{update_url}}" class="button save fa fa-check"></button>
        <button class="button cancel fa fa-close"></button>
      </div>
    </td>
  </tr>
  {{/each}}
</script>
