/* @group tree portlet */

dl.portlet.portletTreePortlet {
  min-height: 100px;
}

dl.portlet.portletTreePortlet .portletHeader {
  padding: 0;
  border-bottom: none;
}

dl.portlet.portletTreePortlet .portlet-header-tabs {
  display: table;
  list-style: none;
  width: 100%;
}

dl.portlet.portletTreePortlet .portlet-header-tabs li {
  display: table-cell;
  padding: 0;
  width: 50%;
  text-align: center;
}

dl.portlet.portletTreePortlet .portlet-header-tabs li a {
  color: #777;
  display: block;
  padding: 5px 10px;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

dl.portlet.portletTreePortlet .portlet-header-tabs li:first-child a {
  border-left: none;
}

dl.portlet.portletTreePortlet .portlet-header-tabs li:hover a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

dl.portlet.portletTreePortlet .portlet-header-tabs li a.active {
  border-bottom: none;
  color: #444;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

dl.portlet.portletTreePortlet dd.portletFooter {
  display: none;
}
dl.portlet.portletTreePortlet .portlet-tabs {
  width:100%;
  height:100%;
  overflow-y:scroll;
}
dl.portlet.portletTreePortlet li {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}
#container dl.portlet ul.filetree li a,
dl.portlet ul.filetree ul.navTree li a {
  padding: 0.25em;
}
dl.portlet.portletTreePortlet .filetree a.current,
dl.portlet.portletTreePortlet .filetree a.inPath:last-child {
  background: #DDD;
}

dl.portlet ul.filetree ul.folded {
  display: none;
}
dl.portlet ul.filetree a.toggleNav {
  z-index: 4;
  display: block;
  width: 1em;
  height: 1em;
  background: url(++resource++opengever.base/images/expand_navi.png) no-repeat center center;
  float: left;
  margin-left: -1.3em;
}
dl.portlet ul.filetree a.toggleNav.expanded {
  background: url(++resource++opengever.base/images/collapse_navi.png) no-repeat center center;
}
#column-navigation dl.portlet ul.filetree a.toggleNav {
  text-decoration: none;
}

/* @end */