#content .actionButtons > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  display: inline-block;

  > li {
    line-height: normal;
    margin: 0;
    display: inline-block;
  }
}

ul.tabbedview-action-list {
  >li { float: left;
        margin-left: 0;
        margin-right: 1em;

        dl.actionMenu {
          margin-left:0;
        }
      }
}

#content div.actionButtons {
  .button, a {
    @include button($iconset: gv);
    background-image: none;
    text-shadow: none;
  }

  .button {
    margin-bottom: 0;
  }
}

.agency_buttons dt {
  @extend .gv-agency;

  &:after {
    font-size: 10px !important;
  }
}

#content .dropdown_button ul {
  margin: 0;
  list-style-type: none;
  @include button-list($iconset: gv);

  > li > a {
    border-right: 0;
    border-left: 0;
  }
}

.actionButtons .refuse {
  @extend .gv-refuse;
}

.actionButtons .reopen {
  @extend .gv-reopen;
}

.actionButtons .reactivate {
  @extend .gv-reopen;
}

.actionButtons .cancelled {
  @extend .gv-cancel;
}

.actionButtons .accept {
  @extend .gv-accept;
}

.actionButtons .reassign {
  @extend .gv-reassign;
}

#content .actionButtons .skip {
  @include button($iconset: fa);
  @extend .fa-step-forward;
}

.actionButtons .revise {
  @extend .gv-pencil;
}

.actionButtons .assignDossier {
  @extend .gv-folder;
}

.actionButtons .complete {
  @extend .gv-square-check;
}

.actionButtons .close {
  @extend .gv-check;
}

.actionButtons .modifyDeadline {
  @extend .gv-time;
}

.actionButtons .delegate {
  @extend .gv-committee;
}

.actionButtons .pending-submitted {
  @extend .gv-submit;
}

.actionButtons .submitted-pending {
  @extend .gv-refuse;
}

.actionButtons .pending-cancelled {
  @extend .gv-cancel;
}

.actionButtons .cancelled-pending {
  @extend .gv-reopen;
}

.actionButtons .taskCommented {
  @extend .gv-comment;
}

.actionButtons .proposalCommented {
  @extend .gv-comment;
}

#tabbedview-body {
  .file-action-buttons, .editActions, .updateActions {
    margin-left: 0;
    margin-top: 5px;

    > a {
      @include button-fluid();
    }

    > span {
      @include button-fluid($disabled: true);
    }
  }
}

.function-edit, .function-edit-inactive {
  @include inline-cell-icon(pencil-alt);

  &.oc-loading {
    @include inline-cell-icon-spin(circle-notch);
  }
}

.function-edit-metadata, .function-edit-metadata-inactive {
  @include inline-cell-icon(file-alt);
}

.function-checkin {
    @include inline-cell-icon(save);
    &:before {
      font-weight: 400 !important;
    }
}

.function-download-copy, .function-download-copy-inactive {
  @include inline-cell-icon(download);
}

.function-extract-attachments, .extract-attachments-inactive {
  @include inline-cell-icon(paperclip);
}

.function-preview-pdf, .function-preview-pdf-inactive, .function-download-pdf, .function-download-pdf-inactive {
  @include inline-cell-icon(file-pdf);
}

.function-attach, .function-attach-inactive  {
  @include inline-cell-icon(envelope);
}

.function-revert {
  @include inline-cell-icon(undo);
}

.function-pdf-preview {
    @include inline-cell-icon(file-pdf);
}

.function-view-details {
    @include inline-cell-icon(eye);
}

.document-proposal-outdated,
.proposal-outdated {
  @include inline-cell-icon(exclamation-triangle);

  &:before {
    color: $red;
  }
}
