$spacing: 8px;
$metadata-width: 400px;
$height-heading: 53px;
$showroom-white-contrast-color: #d3d3d3;
$showroom-border-color: #757575;
$showroom-gray-dark: #404040;
$showroom-gray-light: #4f4f4f;

.ftw-showroom-open {
  overflow: hidden;
}

.ftw-showroom-header-tile {
  width: $height-heading;
  height: $height-heading;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: $showroom-white-contrast-color;
}

.ftw-showroom-pagecount {
  width: auto;
  font-size: 16px;
  padding: 0 10px;
  > span {
    line-height: $height-heading;
  }
}

.ftw-showroom-button {
  @extend .ftw-showroom-header-tile;
  @extend .fas;
  font-size: 16px;

  &.selected,
  &:hover,
  &:active {
    text-decoration: none;
    background-color: $showroom-gray-dark;
  }

  &:before {
    line-height: $height-heading;
  }
}

.ftw-showroom-next {
  @extend .fa-chevron-right;
}

.ftw-showroom-prev {
  @extend .fa-chevron-left;
}

.ftw-showroom-close {
  @extend .fa-times;
}

#ftw-showroom-menu {
  @extend .fa-bars;
  margin-left: 20px;
}

#file-preview {
  box-sizing: border-box;
  height: calc(100% - #{$height-heading});
  position: absolute;
  top: $height-heading - 3px;
  right: 0;
  left: 0;

  > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#plone-lock-status {
  .portalMessage {
    background-color: transparent;

    > dt {
      float: none;
      border-radius: 2px;
      margin: 0;
      box-sizing: border-box;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $showroom-white-contrast-color;
      color: $showroom-gray-dark;
    }

    > dd {
        border: 1px solid $showroom-border-color;
        color: $showroom-white-contrast-color;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: 0;

      > a {
        color: $showroom-white-contrast-color;
      }
    }
  }
}

.file-action-buttons {

  > a {
    @include button-fluid();
    background-color: transparent;
    border-color: $showroom-border-color;
    color: $showroom-white-contrast-color;
    margin-right: 0;

    &:hover {
      background-color: $showroom-gray-dark;
    }

    &:visited {
      color: $showroom-white-contrast-color;
    }

    &:before {
      min-width: 26px;
    }
  }

  > span {
    @include button-fluid($disabled: true);
    background-color: transparent;
    color: $showroom-border-color;
    border-color: $showroom-border-color;
  }

}

.ftw-showroom-header {
  height: $height-heading;
  box-sizing: border-box;
  background-image: url(../../images/texture.png);
  background-color: $showroom-gray-light;
  padding: 0;
  display: table;
  width: 100%;
  color: $white;
  table-layout: fixed;
  position: absolute;
  top: 0;
  z-index: 11;

  > h1 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    white-space: nowrap;
    color: $showroom-white-contrast-color;
    line-height: 22px;

    > span {
      height: 22px;
      width: 24px;
      display: inline-block;
      vertical-align: top;
      margin-right: 3px;
      padding: 0;
    }
  }
}

.ftw-showroom {
  background-image: url(../../images/texture.png);
  background-color: $showroom-gray-dark;
  z-index: 8000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.menu-open {
    #file-preview {
      @media (min-width: 700px) {
        right: $metadata-width;
      }
    }

    aside {
      transform: translateX(0);
    }
  }

  nav {
    font-size: 0;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 100%;

    @media (min-width: 700px) {
      width: 400px;
    }

    > a {
      cursor: pointer;
    }

  }

  > aside {
    transform: translateX(100%);
    background-image: url(../../images/texture.png);
    background-color: $showroom-gray-light;
    color: $showroom-white-contrast-color;
    padding: $spacing * 2;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - #{$height-heading});
    overflow: auto;
    right: 0;
    position: absolute;
    z-index: 10;
    top: $height-heading;

    @media (min-width: 700px) {
      width: $metadata-width;
    }

    > header {
      box-sizing: border-box;
      width: 100%;
      display: table;
      height: auto;
      margin-bottom: $spacing;
      padding: $spacing;
      padding-left: 0;
      > div {
        width: 100%;
        display: table-cell;
        vertical-align: top;
        word-break: break-all;  // necessary for IE11
      }

      a {
        color: $showroom-white-contrast-color;
      }

      .title {
        font-weight: bold;
        font-size: 16px;
        word-break: break-word;

        &:hover, &:visited {
          text-decoration: none;
        }
      }

      .filesize {
        font-style: italic;
        white-space: nowrap;
      }
    }

    > main {
      a {
        color: $showroom-white-contrast-color;
      }
    }

    .metadata {
      width: 100%;
      padding-bottom: 20px;

      tr {
        &:first-child td {
          padding-top: 0;
        }
      }

      td {
        padding: $spacing * 1;

        &:first-child {
          padding-left: 0;
          padding-right: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      .title {
        font-weight: bold;
        vertical-align: top;
      }
    }
  }
}

.showroom-item {
  cursor: pointer;
}

@mixin documentoverview() {
  width: 50%;
  padding-right: 1em;
  display: table-cell;
  vertical-align: top;
  text-align: center;
  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-bottom: 1em;
    display: block;
  }
}

.feature-bumblebee {

  .search-item-wrapper {
      display: table;
      width: 100%;
      padding-bottom: 1em;
      border-bottom: 1px solid $gray-dark;
      .searchItem {
        width: 60%;
        display: table-cell;
        @media screen and (max-width: 769px) {
          display: block;
        }
        vertical-align: top;
        padding-right: 1em;
      }
      .searchImage {
        width: 150px;
        height: 150px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        margin-top: 1.5em;
        .bumblebeeSearchPreview {
          max-width: 100%;
          height: auto;
        }
      }
  }

  .preview-listing .bumblebeeGalleryShowMore {
    margin: auto;
    display: none;
  }

  #content .ViewChooser {
    @include clearfix();
    list-style-type: none;
    display: block;
    margin: -22px 22px 22px 0;

    li {
      margin: 0;
      float: right;

      &.active {
        border-bottom: 2px solid #000;
        background-color: #e6e6e6;
      }
    }

    .documentsList, .documentsGallery {
      @extend .fas;
      text-align: center;
      display: inline-block;
      text-indent: 0;
      font-size: 0;
      width: 28px;
      background-position: 6px 4px;
      background-size: 16px;
      background-repeat: no-repeat;

      &:visited {
        color: $black;
      }

      &:before {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .documentsGallery {
      @extend .fa-th-large;
    }

    .documentsList {
      @extend .fa-th-list;
    }

  }

  #tabbedview-body #overview_overview .documentMetadata {
    @include documentoverview();
    table.listing {
      width: 100%;
    }
  }

  .documentPreview {
    @include documentoverview();
    padding: 0;
    > img {
      max-width: 100%;
    }
  }

}

.bumblebee-thumbnail {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  height: 200px;
}

.bumblebee-document-wrapper {
  table-layout: fixed;
  display: table;
  width: 100%;
}

.imageContainer {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: $border-radius;
  float: left;
  position: relative;
  border: 1px solid $gray-dark;
  box-sizing: border-box;
  width: 200px;

  &:hover {
    box-shadow: 0 0 10px 0 $gray-dark;
  }

  .file-mimetype {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    padding: 0;
    z-index: 1;
  }

  .bumblebeeTitle {
    display: block;
    height: 3em;
    line-height: 3em;
    padding: 1em;
    background-color: $gray-light;
    text-align: center;
    font-weight: bold;

    span {
      max-height: 3em;
      vertical-align: middle;
      line-height: 1.5em;
      display: inline-block;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }
  }

}
