#opengever_meeting_meeting .content, #opengever_meeting_protocol {
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    + input + label, + label {
      display: inline-block;
      color: $black;
      padding-left: 25px;
      position: relative;
      &:before {
        @extend .fa;
        @extend .fa-square-o;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        font-size: 20px;
      }
    }
    &:checked {
      + input + label, + label {
        color: $black;
        &:before {
          @extend .fa-check-square-o;
        }
      }
    }
  }
}

#form-widgets-relatedItems {
    input[type="checkbox"] {
        float: left;
    }
}
