$gray-dark: #e6e6e6;
$gray-darker: #969696;
$gray-light: #f5f5f5;
$gray-table-row: #f8f8f8;
$icon-color: #bababa;
$disabled: #ccc;
$blue: #205c90;
$light-blue: #437795;
$black: #444;
$white: #fff;
$green: #51a351;
$green-light: #62c462;
$red: #bd362f;
$red-light: #ee5f5b;
$discreet: #969696;
$shadow-black-color: rgba(68, 68, 68, .2);
$shadow-blue-color: rgba(32, 92, 144, .8);

$message-info: #9dca27;
$message-error: #d65829;
$message-warn: #d69b29;

$gever-gray: #5C646A;
$gever-green: #3387a1;
$gever-violet: #817CB9;
