.box a {
  word-break: break-all;
}

.documentMetadata td {
  word-break: break-word;

  .filename {
    word-break: break-all;
  }
}

.linkWrapper > .contenttype-opengever-dossier-businesscasedossier {
  display: inline !important;

  &:before {
    vertical-align: middle;
    padding-bottom: 6px;
  }
}

.horizontal-spacer {
  border: 0;
  margin-bottom: 1.5em;
}
