#content #disposition_overview {
  margin: 0 15px;

  #tabbedview-header {
    margin-bottom: 40px;
  }

  .metadata {
    padding-bottom: 10px;

    .label {
      font-weight: bold;
    }

    .edit_transfer_number {
      @include button();
      margin-left: 10px;

      &:before {
        @extend .fas;
        @extend .fa-pencil-alt;
      }
    }
  }

  .progress {
    .answer {

      .answerType:before {
        @extend .fas;
      }

      &.add .answerType:before {
        @extend .gv;
        content: $created;
      }
      &.edit .answerType:before {
        @extend .fa-pencil-alt;
      }
      &.appraise .answerType:before {
        @extend .fa-gavel;
      }
      &.dispose .answerType:before {
        @extend .fa-briefcase;
      }
      &.archive .answerType:before {
        @extend .fa-database;
      }
      &.close .answerType:before {
        @extend .fa-trash;
      }
      &.refuse .answerType:before {
        @extend .fa-thumbs-down;
      }
    }
    .details.collapsible {
      .collapsible-header {
        cursor: pointer;

        span:before {
          @extend .fas;
          @extend .fa-caret-right;
          padding-right: 5px;
        }

      }

      .collapsible-content {
        display: none;
      }
      &.open {
        .collapsible-header span:before {
          @extend .fa-caret-down;
        }
        .collapsible-content {
          display: inline-block;

          li {
            display: table;
            span {
              display: table-cell;
              padding-right: 10px;
            }
            .reference_number {
              width: 100px;
            }
            .title {
              width: 300px;
            }
          }
        }
      }
    }
  }

  .repository-list-item {
    list-style-type: none;

    &.open {
      .dossiers {
        display: block;
      }

      .collapsible-header>span:before {
        @extend .fas;
        @extend .fa-caret-down;
        padding-right: 5px;
      }

    }

    .dossiers {
      display: none;
    }

    .collapsible-header {
      cursor: pointer;

      >span:before {
        @extend .fas;
        @extend .fa-caret-right;
        padding-right: 3px;
        margin-left: 3px;
      }
    }

    .repository_cell {
      display: table;
      border-bottom: 1px solid $gray-dark;
      margin-bottom: 5px;

      .repository_title {
        display: table-cell;
        h3 {
          font-size: 1.15em;
          margin-bottom: 0.15em;
        }
      }

      .meta {
        color: grey;
        margin-bottom: 3px;
      }

      .action-cell {
        display: table-cell;

        .icon_button{
          color: $disabled;

          &:hover{
            text-decoration: none;
          }
          &:hover:before{
            color: black;
          }
          &:before {
            @extend .fas;
            font-size: 19px;
            padding-left: 6px;
            padding-right: 12px;
          }
          &.archive_all:before {
            @extend .fa-check-circle;
          }
          &.not_archive_all:before {
            @extend .fa-times-circle;
          }
        }
      }
    }
  }

  .list-group {
    width: 100%;
    display: table;
    margin-left: 0px;
  }

  .list-group-item {
    display: table;

    .data-cell {
      display: table-cell;
      width: 100%;
    }
  }

  .list-group-cell {
    display: table-cell;
    border-bottom: 1px solid $gray-dark;
    padding-bottom: 5px;

    .title {
      margin: 0;
      font-weight: normal;
      margin-right: 20px;

      a:visited {
        color: #205C90;
      }

      .reference_number {
        padding-right: 10px;
      }

    }

    .meta {
      padding-top: 5px;
    }

    .meta-value {
      color: grey;
      padding-right: 20px;
    }
  }

  .action-cell {
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    border-collapse: collapse;
    vertical-align: middle;

    .icon_button{
      color: $disabled;

      &:hover{
        text-decoration: none;
      }
      &:hover:before{
        color: black;
      }
      &.active {
        color: black;
      }
      &:before {
        content: "";
        @extend .fas;
        font-size: 19px;
        padding-left: 6px;
        padding-right: 12px;
      }
      &.archive:before {
        @extend .fa-check;
      }
      &.not_archive:before {
        @extend .fa-times;
      }
    }
  }

  .actionButtons {
    a {
      &:before {
        @extend .fas;
      }

      &.disposition-transition-appraise:before { content: fa-content($appraise); }
      &.disposition-transition-dispose:before { content: fa-content($dispose); }
      &.disposition-transition-archive:before { content: fa-content($archive); }
      &.disposition-transition-close:before { content: fa-content($disposition-close); }
      &.disposition-transition-appraised-to-closed:before { content: fa-content($disposition-close); }
      &.disposition-transition-refuse:before {
        @extend .far;
        content: fa-content($disposition-refuse);
      }
      &.sip_download:before {
        @extend .far;
        content: fa-content($sip_download);
      }
      &.appraisal_list:before { content: fa-content($appraisal_list); }
      &.removal_protocol:before { @extend .fa-download; }
    }


    .transitions {
      float: left;
    }
    .actions {
      float: right;
    }
    li {
      display: inline-block;
    }
  }

  .workflow_wizard {
    margin: 1em 0;
    padding: 0.5em 0;

    .wizard_steps {
      margin-left: 0;
      list-style: none;
      padding: 1em 0.5em;
      li {
        float:left;
        display: inline;
        padding-right: 2em;
        &:after {
          content: 'ã€‰';
          color: #000;
          padding-left: 2em;
        }
        &:last-child:after {
          content: '';
          display: none;
        }
        &.selected {
          font-weight: bold;
        }
      }
    }

  }

}
