$favorites-icon-size: 1em;

.portaltype-opengever-meeting-meetingtemplate {
    #viewlet-below-content-title {
        display: inline;
    }
}

#favorite-action {
  display: inline-block;
  vertical-align: 2px;
  margin-left: 4px;

  #mark-as-favorite {
    color: $gever-green;
    font-size: 16px;

    &:before {
      @extend .far;
      @extend .fa-star;
    }

    &.is-favorite {
      &:before {
        @extend .fas;
        @extend .fa-star;
      }
    }

    &.loading {
      cursor: default;

      &:before {
        @extend .far;
        @extend .fa-spin;
        @extend .fa-star;
      }
    }
  }
}

table.favorites {
  width: 100%;
  padding-top: 46px;
  position: relative;
  z-index: 2;


  tbody {
    tr {
      &:first-child td {
        border-top: 1px solid $gray-dark;
      }

      &:hover {
        td {
          background-color: $gray-light;
        }
      }

      td {
        padding: ($padding-factor * 12px) ($padding-factor * 18px);
        border-bottom: 1px solid $gray-dark;
        text-align: left;

        &:first-child {
          width: 16px;
          text-align: center;
          padding-right: 0;
        }

        &.admin_unit {
          // Forces cell to be as small as possible.
          width: 1px;
          color: $discreet;
        }

        &.edit-controls {
          width: 50px;
          text-align: center;
        }
      }
    }
  }

  .moveHandler {
    cursor: move;
    font-size: $favorites-icon-size;
  }

  .editAction, .deleteAction {
    font-size: $favorites-icon-size;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  .editAction {
    padding-right: .5em;
  }

  .ui-sortable-helper {
    display: table !important;
  }
}

.template-favorites-view .overlay {
  input[type="text"] {
    @include component;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: $padding-factor * 8px;
  }

  .button-group {
    margin-top: 16px;
    button {
      margin-right: 0;

      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: none;
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.favorites-menu {
  padding-right: 2px;

  #favorites-menu-toggler {
    &:before {
      @extend .fa-star;
    }
  }

  > dl {
    position: relative;
  }

  dd {
    position: absolute;
    width: 350px;
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 2px;

    > ul {

      max-height: 300px;
      overflow: auto;

      > li {
        display: list-item;

        > span {
          display: block;
          padding: 6px 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background-color: #eaeaea;
            text-decoration: none;
          }

          border-bottom: 1px solid #eaeaea;

        }

        &:last-child > span {
          border-bottom: 0;
        }
      }

    }

    .overview {
      padding: 10px 6px;
      text-align: center;
      border-top: 1px solid #eaeaea;
    }

  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

}
