#footer {
  #ftw-footer {
    margin-bottom: 1.5em;
  }
  h2 {
    margin: 0.5em 0;
    padding: 0.5em 0;
    color: #5b5b5b;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: url(../../images/footer_row.png) no-repeat left bottom;
    cursor: default;
  }
  p {
    line-height: 1.5em;
  }
}
