body.feature-word-meeting .template-add-membership,
body.feature-word-meeting .template-add-meeting,
#content,
body.portaltype-opengever-disposition-disposition,
body.feature-word-meeting .portaltype-opengever-meeting-proposal.template-edit,
body.feature-word-meeting .portaltype-opengever-meeting-submittedproposal.template-edit,
body.feature-word-meeting .template-opengever-meeting-proposal {
  #opengever_meeting_meeting,
  #opengever_meeting_protocol,
  #content {

    input[type="text"], input[type="search"] {
      @include component();
    }

    select {
      @include component();
      @include appearance();
      width: 100%;
      padding: $padding-factor * 8px $padding-factor * 16px + 15px $padding-factor * 8px $padding-factor * 16px;
      background: url("../../images/caret_down.png") no-repeat right center;
      max-width: 300px;
      @include ie-only {
        background-image: none;
        padding: 0;
      }
    }

    textarea {
      @include component();
      min-height: 100px;
    }


    form {
      display: inline-block;
      width: 100%;
    }

    label {
      display: block;
      margin-bottom: $padding-factor * 8px;
      margin-top: $padding-factor * 16px;
    }

    .edit-box {
      display: none;
    }

    .input-group {
      display: table;
      margin-bottom: $padding-factor * 16px;
      @include clearfix();
      width: 100%;
      > input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        display: table-cell;
      }
      > .button-group {
        width: 1%;
        display: table-cell;
        vertical-align: top;
        > button, input {
          font-size: 12px;
          &:first-child {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
          }
        }
      }
      > label {
        display: table-caption;
      }
      &.search-form {
        position: relative;
        > input[type="search"] {
          padding-right: $padding-factor * 32px;
        }
        &:before {
          position: absolute;
          right: $padding-factor * 16px;
          top: 50%;
          font-size: 12px;
          margin-top: -10px;
          @extend .fas;
          @extend .fa-search;
        }
      }
    }
  }
}

input[type='checkbox']:disabled ~ label > span {
  color: $disabled;
}

#form-widgets-IDocumentMetadata-description,
#form-widgets-description,
#form-widgets-IOpenGeverBase-description,
#form-widgets-text,
#form-widgets-IDocumentMetadata-description,
#form-widgets-IDossier-comments,
#form-widgets-other_participants {
  height: 90px;
}

body.portaltype-opengever-meeting-committee.template-edit {
  #content-core {
      div.error {
        background-color: #fdc;
        border: 1px solid red;
        padding: 0.5em;
        margin: 1em 0;
      }
  }
}
