/* @group spans where there were links before */
span[class*="contenttype-opengever-"]:hover {
  text-decoration: none;
}
/* @end */

/* @group general styles */

#tabbedview-body a:visited {
  color: purple;
}

#portal-searchbox {
  margin-left: .5em;
  float: none;
}

#extranet-controls {
  float: none;
}

#ajax-spinner {
  display: none!important;
}

/* @end */

/* @group tree navigation */

ul.treeview a.selected {
  background: #bbb;
}
ul.treeview li.lastCollapsable,
ul.treeview li.lastExpandable,
ul.treeview li {
  background: none;
}
ul.treeview .hitarea {
  background: url(../../images/navTreeExpanded.png) no-repeat center right;
}
ul.treeview .expandable-hitarea {
  background: url(../../images/navTreeCollapsed.png) no-repeat center right;
}
dl.portletTreePortlet dd.portletItem {
  padding: 0;
}
dl.portlet ul.filetree li a,
dl.portlet ul.filetree ul.navTree li a {
  padding: 0;
  display: block;
  padding-left: 0.25em;
  color: #333333;
  border: none;
}
dl.portlet ul.filetree img.spinner{
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
li.collapsable li {
  border-left: 2px solid #ececec;
}
#column-navigation dl.portlet {
  margin-right: 0;
}
#column-navigation dl.portlet ul.navTree a:hover,
#column-navigation dl.portlet ul.navTree .navTreeCurrentItem {
  border: none;
}
dl.portlet ul.navTree li a.navTreeItemInPath,
dl.portlet ul.navTree .navTreeCurrentItem {
  font-weight: normal;
}
.filetree span.folder,
.filetree span.file,
ul.filetree li.expandable span.folder {
  background: none;
  padding-left: 0;
}
dl.portlet .portletItem > ul.navTree {
  border-bottom: none;
}
dl.portlet ul.navTree li {
  border-top: none;
}
.filetree li a.inactive {
  color: $discreet !important;
}

/* @end */

/* @group ou selector */

#portal-orgunit-selector dt.actionMenuHeader {
  border: 1px solid #bfbfbf;
  background-color: #FFF;
  box-shadow: 0 0 0.8em -0.75em #000000 inset;
  -moz-box-shadow: 0px 1px 5px -4px #bfbfbf inset;
  -webkit-box-shadow: 0px 1px 5px -4px #bfbfbf inset;
  moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 27px;
  overflow: hidden;
  min-width: 10em;
}

#portal-orgunit-selector dt.actionMenuHeader a {
  background: url(../../images/ouselector_button.png) no-repeat right top;
  height: 27px;
  line-height: 27px;
  padding: 0 3em 0 0.5em;
}

#portal-orgunit-selector.activated dt.actionMenuHeader a,
#portal-orgunit-selector dt.actionMenuHeader a:hover {
  background-position: right -113px;
}

#portal-orgunit-selector dd.actionMenuContent span {
  padding: 0 0.5em;
}

#portal-orgunit-selector,
#contentActionMenus dl.actionMenu {
  line-height: 2em;
}

#portal-orgunit-selector dd {
  background-color: #FFFFFF;
}

#portal-orgunit-selector div.item-content:hover {
  background-color: #E6E6E6;
}

#portal-orgunit-selector a,
#portal-orgunit-selector a:hover {
  color: #333333;
  text-decoration: none;
}


#portal-orgunit-selector dd a,
#portal-orgunit-selector dd span.active {
  padding-left: 2em;
}
#portal-orgunit-selector dd a:hover:before,
#portal-orgunit-selector dd span.active:before {
  font-family: 'opengever';
  content: '\e623';
  position: absolute;
  left: 0.5em;
}

/* @end */

/* @group notifications */

#notifications-menu-toggler {
  &:before {
    @extend .fa-bell;
  }
}

#portal-notifications .unread_number {
  position: absolute;
  top: -6px;
  left: -6px;
  background: #FF7070;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  z-index: 1;

  &:hover {
    font-size: 12px;
  }
}

#portal-notifications dd.notificationsMenuContent {
  width: 410px;
  padding: 0;
  overflow: hidden;
  border: none;
  border-top: 1px solid #eaeaea;
}

#portal-notifications ul.notifications {
  width: 430px;
  max-height: 450px;
  overflow-y: scroll;
  margin-bottom: 43px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

#portal-notifications .notification-item {

  display: block;
  @include clearfix();
  padding: 6px 30px 6px 10px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #eaeaea;

  &:last-child {
    border: none;
  }

  &.new {
    background-color: #f9f9f9;
    border-left: 3px solid #205C90;
    .item-location {
      font-weight: bold;
    }
  }

  &:hover {
    background-color: #eaeaea;
  }

  &.show_all {
    position: absolute;
    bottom: 0;
    background: #fff;
    border: none;
    border-top: 3px solid #eaeaea;
    padding: 15px 0;
    text-align: center;
  }

  .item-content {
    .item-header {
      width: 100%;
      display: table;
      padding: 0 5px 10px 0;
      .item-type {
        display: table-cell;
        color: #888;
      }
      .item-creation {
        display: table-cell;
        text-align: right;
        color: #888;
      }
    }
    .item-footer {
      width: 100%;
      padding: 0 0 2px 0;
      .item-location {
        width: 100%;
        padding: 0 0 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .item-summary {
        width: 100%;
        // color: #888;
        overflow: hidden;
        text-overflow: ellipsis;
        > a {
          display: inline-block;
          padding: 0;
        }
      }
    }
  }

}

/* @end */

/* @group tabbedview */

.tabbedview_view #tabbedview-body #overview_overview table.listing {
  width: auto;
}

.tabbedview_view .pane {
  padding-top: 0;
  display: inline-block;
  width: 100%;
}

#tabbedview-body .boxGroup {
  float: left;
  padding-right: 5px;
  box-sizing: border-box;
}
#tabbedview-body #selection_container {
  margin-bottom: 0.5em;
  clear: left;
}
.state_filters .active {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 0 0.25em;
}
.state_filters .active:hover {
  text-decoration: none;
  cursor: default;
}
#overview_overview hr {
  border: none;
  border-top: 1px solid #ddd;
}
.tabbedview-tabs ul.formTabs {
  padding-right: 175px;
}
.disabledSearchBox .tabbedview-tabs ul.formTabs {
  padding-right: 0;
}

/* @end */

/* @group tasks */

#main_attributesBox {
  padding-right: 1em;
}
#main_attributesBox ul {
    list-style-type: none;
    margin-left: 0em;
}
.response {
  border: 1px solid #eee;
  margin-bottom: 1em;
/* padding: 0.5em; */
}
.response > * {
  padding: 0.5em;
}
.response-actions {
  float: right;
}
.response-actions form {
  float: left;
  padding-left: 0.5em;
}
.response .response-info {
  color: #000;
  font-size: 100%;
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
}

/* @end */

/* @group task template wizard */

#template_chooser {
  margin: 1em 0;
}

/* @end */

/* @group document */

#proposals_box {
  .proposal {
    margin-top: 1em;
  }
  .proposalLink {
    display: block;
  }
  .contenttype-opengever-meeting-proposal {
    &:before {
      position: relative;
      margin-right: 4px;
      top: 2px;
    }
  }
}

/* @end */

/* @group mail*/

#content .mailBody-part{
  border: 1px solid #ddd;
  margin-top: 2em;
  padding: 1em;
}

#content .mailBody-part *{
  line-height: 1em;
 }

/* @end */

/* @group tabbedview */

#user-group-sharing-settings tr.odd {
  background-color: #f8f8f8;
}
#plone-contentmenu-tabbedview-actions dd a {
  color: #666;
  padding: 0.25em;

  &:visited {
    color: #666;
  }
}
#plone-contentmenu-tabbedview-actions dd a:hover {
  text-decoration: none;
  background-color: #E6E6E6;
}

/* @end */

/* @group search results */

.template-search #ajax-spinner {
  display: none!important;
}

#search-field.noborder {
  border: none;
  padding: 0;

  .searchPage {
    height: 30px;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    margin: 0;
  }

  .searchPage.searchButton {
    height: 39.5px;
    width: 10%;
    margin-left: -10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0px 0;
  }
}

#sorting-options strong {
  font-weight: normal;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 0 0.25em;
}

#search-results-bar {
  padding: 1em;
  background: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  dl.actionMenu {
    float: right;
  }
}

#search-results {
  dl.searchResults {
    dt {
      font-size: 120%;
      font-weight: bold;
      height: auto;
    }

    dd {
      padding-left: 20px;
    }

    .description {
      width: 600px;
      margin: 0.25em 0;
    }

    .main_dossier {
      font-style: italic;
      color: #878787;
      font-weight: normal;

      a {
        font-style: italic;
        color: #878787;
      }
    }
  }
}

.searchItem .description {
  .highlightedSearchTerm, em {
    font-weight: bold;
  }
}

a[class*="icon-"] > .highlightedSearchTerm {
  vertical-align: baseline;
}


/* @end */

/* @group header and watermarks */

#content h1.documentFirstHeading {
  border-bottom: none;
  display: inline;
  vertical-align: baseline;
}

#tabbedview-searchbox {
  opacity: 0.6;
  border-width: 5px;
  border-radius: 8px;
}
#tabbedview-searchbox:hover {
  opacity: 0.8;
}
#tabbedview-searchbox:focus {
  opacity: 1;
  border-color: #AAA;
}

.tableradioSearchbox {
  opacity: 0.6;
  border-width: 5px !important;
  border-radius: 8px !important;
  margin-top: 1em;
  margin-bottom: 1em;
}
.tableradioSearchbox:hover {
  opacity: 0.8;
}
.tableradioSearchbox:focus {
  opacity: 1;
  border-color: #AAA;
}

/* @end */


/* @group listings */

ul.member_listing li {
  display: block;
}

/* @end */

/* @group state icons */

[class*="wf-task-state"],
[class*="wf-proposal-state"],
[class*="wf-forwarding-state"],
[class*="wf-meeting-state"] {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: 16px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 22px;
  background-position: left 2px;
  white-space: nowrap;
}
[class*="byline-meeting-wf-state-"] span.value {
  padding-left: 14px !important;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: left 0px;
}

.wf-proposal-state-pending {
  @extend .icon-status-open;
}

.wf-proposal-state-scheduled {
  @extend .icon-status-todo;
}

.wf-proposal-state-submitted {
  @extend .icon-status-done;
}

.wf-proposal-state-decided {
  @extend .icon-status-closed;
}

.wf-proposal-state-cancelled {
  @extend .icon-status-rejected;
}

.wf-forwarding-state-open, .wf-task-state-open {
  @extend .icon-status-open;
}

.wf-task-state-tested-and-closed, .wf-forwarding-state-closed {
  @extend .icon-status-closed;
}

.wf-task-state-cancelled, .wf-task-state-rejected, .wf-forwarding-state-refused {
  @extend .icon-status-rejected;
}

.wf-task-state-in-progress {
  @extend .icon-status-todo;
}

.wf-task-state-planned {
  @extend .icon-status-planned;
}

.wf-task-state-resolved {
  @extend .icon-status-done;
}

.wf-task-state-new-successor {
  @extend .icon-status-canceled;
}

.wf-task-state-skipped {
  @extend .icon-status-skipped;
}

.wf-meeting-state-pending,
.byline-meeting-wf-state-pending span.value {
  @extend .icon-status-open;
}

.wf-meeting-state-closed,
.byline-meeting-wf-state-closed span.value {
  @extend .icon-status-closed;
}

.wf-meeting-state-held,
.byline-meeting-wf-state-held span.value {
  @extend .icon-status-done;
}

.wf-meeting-state-cancelled,
.byline-meeting-wf-state-cancelled span.value {
  @extend .icon-status-canceled;
}


.task-overdue {
  @extend .icon-status-overdue;
  background-position: left center;
  padding-left: 20px;
  background-size: 16px;
  background-repeat: no-repeat;
}

/* @end */

/* @group tasks */

.answer .date {
  font-size: 1em;
  width: auto;
  text-align: left;
  padding: 0;
  border: none;
}
div.answers {
  position: relative;
  padding: 1em 0;
  border: 1px solid #eee;
  border-width: 1px 0;
}
div.answers:before {
  content: " ";
  background: #cecece;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 14px;
}
.answerBody {
  position: relative;
  margin-left: 56px;
  padding: 1em;
  border: 1px solid #cecece;
  margin-bottom: 1em;
  box-shadow: 0 0 0.25em #fafafa;
}
#content .answerBody h3 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 1em;
}
.answer .answerBody .date {
  float: right;
  margin: -1em -1em 0em 0em;
  text-align: right;
  background: #fcfcfc;
  border: 1px solid #cecece;
  border-width: 0 0 1px 1px;
  border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  padding: 0.35em 0.75em;
}
.answerBody .metadata {
  font-size: 12px;
  margin: 1em -1em -1em -1em;
  border-top: 1px solid #cecece;
  padding: 0 0.5em;
  color: #777;
}
.answer:hover .answerBody {
  box-shadow: 0 0 0.5em #e8e8e8;
  -webkit-box-shadow: 0 0 0.5em #e8e8e8;
  -moz-box-shadow: 0 0 0.5em #e8e8e8;
}

/* @end */

/* @group task answer types */

div.answer:hover div.answerType,
div.answer:hover div.answerType:after {
  border-color: #777;
}

div.answerType {
  border: 1px solid #cecece;
  background: #fefefe;
  display: block;
  height: 28px;
  width: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  margin-top: 14px;
  margin-right: 14px;
  float: left;
  position: relative;
}
div.answerType:after {
  content: ' ';
  position: absolute;
  display: block;
  width: 28px;
  height: 1px;
  border-bottom: 1px dotted #cecece;
  overflow: hidden;
  z-index: 1;
  top: 14px;
  left: 28px;
}



/* @end */

/* @group task manage actions */

.answerBody .manageActions {
  float: right;
  margin: -1em 0em 0em 0em;
  display: none;
  position: absolute;
  right: 0px;
  background: #fff;
  padding: 0.25em;
  padding-top: 0;
}
.answerBody:hover .manageActions {
  display: block;
}
.answerBody .manageActions > a {
  border: 1px solid #cecece;
  background: #fcfcfc;
  color: #000;
  padding: 0.25em 0.5em;
  text-decoration: none;
  box-shadow: 0.25em 0.25em 0.25em -0.25em #ececec;
  border-top: 0;
  margin-left: 0.5em;
  display: block;
  float: left;
  border-radius: 0 0 4px 4px;
}
.answerBody .manageActions > a:hover {
  background: #ececec;
}
.answerBody .manageActions > a:before {
  font-family: 'opengever';
  margin-right: 0.25em;
}
.answerBody .manageActions > a.edit:before {
  content: "\270F";
}
.answerBody .manageActions > a.delete:before {
  content: "\e193";
}

/* @end */

/* @group task answer form */
.template-assign_choose_method #content form,
.template-accept_choose_method #content form,
.template-refuse-task #content form,
.template-assign-task #content form,
.template-addresponse #content form {
  padding-right: 2px; /*adjust textarea border*/
}

/* @end */

/* @group overlay logout */

#logout_overlay h1 {
  clear: both;
  font-size: 1.25em;
  line-height: 1em;
}
#logout_overlay ul.subContents {
  margin-bottom: 1em;
  margin-left: 2em;
  list-style: disc;
}
#logout_overlay ul.subContents li {
  display: list-item;
}
#logout_overlay input[type="submit"]{
  float: right;
}
#logout_overlay h1 {
  clear: both;
  font-size: 1.25em;
  line-height: 1em;
}

#download_confirmation #disable_confirmation {
  margin-right: .5em;
}

/* @end */

/* @group  remove confirmation*/
#remove_confirmation div.documents {
  width:100%;
}

#remove_confirmation div.documents ul {
  list-style: none;
  margin-left: 0 px;
  margin: 0 0 10px 0;
  line-heigth: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#remove_confirmation div.documents li {
  border-bottom: 1px solid #ddd;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#remove_confirmation div.documents li:last-child {
  border-bottom: 0;
}

#remove_confirmation div.documents .error {
  border-radius: 2px;
  background-color: #f2dede;
  margin-top: 0.5em;
}

#remove_confirmation div.documents .error ul {
  margin-left: 0px;
  border: 1px solid #eed3d7;
}

#remove_confirmation div.documents .error li {
  border-color: #eed3d7;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#remove_confirmation dl.message,
#delete_confirmation dl.message {
  margin: 1em 0;
  border: 1px solid #ee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #eee;
  clear: both;
}
#remove_confirmation dl.message dt,
#delete_confirmation dl.message dt {
  background-color: #9dca27;
  line-height: 1.25em;
  float: left;
  margin-right: 0.75em;
  padding: 0.5em 0.75em;
  color: white;
  /*border: 1px solid #3a87ad;*/
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;

}
#remove_confirmation dl.message dd,
#delete_confirmation dl.message dd {
  padding: 0.5em 0.5em;
  margin: 0;
  line-height: 1.25em;
  color: #7f7f7f;
}
#remove_confirmation dl.warning dt,
#delete_confirmation dl.warning dt {
  background-color: #D69B29;
}
#remove_confirmation dl.error dt,
#delete_confirmation dl.error dt {
  background-color: #D65829;
}

/* @end*/


/* @group fixes and hacks */

#LSResult .LSTable > li img {
  display: none;
}

.template-send_documents #form-widgets-message {
  height: 270px;
}

#history dd.collapsibleContent {
  overflow-x: auto;
}

.x-grid3-viewport {
  overflow: visible !important;
  overflow-y: visible !important;
  overflow-x: auto !important;
  padding: 3px;
}

.ui-autocomplete.ui-widget-content {
  z-index: 9999;
}

/* @end */


/* @group user and team detail */
body.template-user-details #content{
  .groups,
  .teams {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .group,
  .team {
    &:before {
      font-family: 'opengever';
      content: $contactfolder;
      display: inline-block;
      color: #bababa;
      text-decoration: underline;
      font-size: 16px;
      min-width: 22px;
    }
  }
}

body.template-team-details #content{
  .members {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}


/* @end */


/* @group dashboard */

.portlet.portletRecent .recently-link > span {
  padding-left: 2px;
}

.portlet.portletRecent .recently-link:before {
  position: relative;
}

/* @end */

/* responsive */
@media screen and (max-width: 769px) {

  /* @group orgunit menu */
  #portal-orgunit-selector dt.actionMenuHeader {
    display: none;
  }
  #portal-orgunit-selector-menu {
    width: 100%;
    margin-left: 0;
    z-index: 6;
    position: absolute;
    top: -12px;
    width: 100%;
    margin: 0 auto;
  }
  #portal-orgunit-selector-menu dd {
    background: #E6E6E6;
  }
  #portal-orgunit-selector-menu dd {
    border-bottom: 1px solid #000;
    padding: 0;
  }
  #portal-orgunit-selector-menu li a {
    font-size: 100%;
    padding: 1em;
    line-height: 1em;
    letter-spacing: 0.04em;
    border-top: 1px solid #000;
    background-color: #005fa2;
    color: #FFF;
    text-shadow: 0px 1px 0px #000;
  }
  #portal-orgunit-selector-menu li a:hover {
    color: #FFF;
    background-color: #005fa2;
  }
/* @end */

  /* @group orgunit mobile button */
  #toggle_orgunitselector {
    background: url(../../images/ouselector_mobile_button.png) no-repeat center center;
  }
  .mobileButtons #toggle_orgunitselector.selected {
    background-color: #000;
  }
  #portal-orgunit-selector dd li span.active {
    display: block;
    padding: 1em;
    line-height: 1em;
    padding-left: 2em;
  }
  #portal-orgunit-selector dd li a {
    padding-left: 2em;
  }

  /* @end */

}

/* @group laguage-menu in personaltool bar */

#portal-personaltools.actionMenu dd ul li.category-language {
  a:before {
    content:"";
    display: inline-block;
    width: 20px;
  }

  &.separator a {
    border-bottom: 1px solid $gray-dark;
  }
}

.controls {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-direction(row-reverse);
}

#gever-portal-controls {
  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-direction(row);
}

/* @end */

/* @group status messages */
dl.portalMessage {
  display: flex;
  margin: 1em 0;
  border: 1px solid #ee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #eee;
  clear: both;

  dt {
    display: flex;
    align-items: center;
    background-color: #9dca27;
    line-height: 1.25em;
    float: left;
    margin-right: 0.75em;
    padding: 0.5em 0.75em;
    color: white;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }

  dd {
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
    color: #7f7f7f;
  }

  &.warning dt {
    background-color: #D69B29;
  }

  &.error dt {
    background-color: #D65829;
  }
}

/* Additional specificity for when status is shown inside #content */
#content dl.portalMessage {
  font-size: 100%;
}
#content dl.portalMessage dt {
  margin: 0 0.5em 0 0;
  padding: 0.5em 0.75em;
}
#content dl.portalMessage dd {
  margin: 0;
}

/* @end */
