.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    // Override unnecessary inline style from plone
    display: list-item !important;

    &:last-child > .dropdown-list-item {
      border-bottom: 0;
    }
  }

  + .dropdown-list-footer {
    border-top: 2px solid $gray-dark;
    > .dropdown-list-item {
      padding: 10px 8px !important;
      justify-content: center;
      border: 0;
    }
  }
}

.dropdown-list-divider {
  display: block;
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 0;
  border-color: $gray-dark;
}

.dropdown-list-header {
  text-transform: uppercase;
  display: block;
  color: $discreet;
  padding: 10px 8px 6px 8px;
  font-size: 11px;
}

.dropdown-list-item-content {
  white-space: nowrap;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.dropdown-list-item-icon {
  min-width: 26px;
}

.dropdown-list-item-suffix {
  font-size: 11px;
  color: $discreet;
  white-space: nowrap;
  padding-left: 10px;
}

.dropdown-list-item {
  // Override icon padding
  padding: 6px 8px !important;
  display: flex !important;
  justify-content: space-between;
  border-bottom: 1px solid $gray-dark;

  &:link:hover {
    // Override icon text-decoration
    text-decoration: none !important;
    background-color: $gray-dark;
  }
}

.LSResult .dropdown-list-item{
  justify-content: normal;
}

.LSRow .dropdown-list-item-content {
  line-height: 22px;
  display: inline-block;
}

.dropdown-list-item
#opengever_meeting_meeting, #opengever_meeting_protocol, .template-add-membership {
  .list-group {
    @include list(plain);
    border-radius: $border-radius;
    .list-group-item {
      display: table;
      width: 100%;
      padding: $padding-factor * 16px $padding-factor * 18px;
      border: 1px solid $gray-dark;
      border-bottom: none;
      box-sizing: border-box;
      @include clearfix();
      &:last-child {
        border-bottom: 1px solid $gray-dark;
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        > .button-group {
          > input, >.button {
            &:last-child {
              border-bottom-right-radius: $border-radius;
            }
          }
        }
      }
      &:first-child {
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        > .button-group {
          > input, >.button {
            &:last-child {
              border-top-right-radius: $border-radius;
            }
          }
        }
      }
      > .button-group {
        > input, >.button {
          border: none;
          border-left: 1px solid $gray-dark;
          border-radius: 0;
        }
        > div.actionButtons {
          > input, .button {
            border: none;
            border-left: 1px solid $gray-dark;
          }
          > .regular_buttons {
            > li {
              > a {
                border: none;
                border-left: 1px solid $gray-dark;
                border-radius: 0;
              }
            }
          }
        }
        > .formControls {
          > input, .button {
            border: none;
            border-left: 1px solid $gray-dark;
            &:first-child {
              border-left: none;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
            &:last-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
        &.fluid {
          width: 100%;
          > input, >.button {
            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }
          }
          > div.actionButtons {
            > .regular_buttons {
              > li {
                > a {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      > .title {
        display: table-cell;
        vertical-align: middle;
        padding-left: 16px;
      }
      > .spv-label {
        border-radius: 0;
        width: 100%;
      }
      > h1, > h2, > h3 {
        margin-top: 0;
      }
      &.submit {
        padding: 0;
        .button-group {
          float: right;
        }
      }
    }
  }
}
