#content-core div.error {
  background-color: #fdc;
  border:  1px solid red;
  padding: 0.5em;
  margin:  1em 0;
}

#meeting_location {
  @extend .fas;
  @extend .fa-map-marker;
}

#meeting_date {
  @extend .fas;
  @extend .fa-calendar;
}

#meeting_time {
  @extend .fas;
  @extend .fa-clock;
}

#meeting_secretary {
  @extend .fas;
  @extend .fa-pen;
}

#meeting_number {
  @extend .fas;
  @extend .fa-hashtag;
}

#meeting_presidency {
  @extend .fas;
  @extend .fa-user-secret;
}

#meeting_participants {
  @extend .gv;
  @extend .gv-contact;
}

#related_dossier {
  @extend .gv;
  @extend .gv-folder;
}

.portaltype-opengever-meeting-committeecontainer,
.portaltype-opengever-meeting-committee {
  #plone-document-byline {
    display: none;
  }
}

body.feature-word-meeting.model-meeting #content #plone-document-byline {
  display: block;
  ul li.byline-presidency.hidden,
  ul li.byline-secretary.hidden {
    display: none;
  }
}

#content h1.documentFirstHeading.meeting-view-heading {
  margin-bottom: 0;
}
body.feature-word-meeting.model-meeting h1.documentFirstHeading .meeting-number {
  font-size: 16pt;
  color: $discreet;
  margin-left: 16px;
}

.meetingZipDownload {
  max-width: 600px;
  .zipExportDescription, .zipDownloadOriginalFiles {
    margin-top: 1em;
  }
  .downloadButtonBox {
    margin-bottom: 1em;
  }
  .button {
    &.disabled {
      background-image: none;
      background-color: #e6e6e6;
      pointer-events: none;
    }
    &.loading:before {
      @extend .fas;
      @extend .fa-spinner;
      @extend .fa-spin;
    }
  }
  .discreet {
    margin-bottom: 1em;
  }
}

#opengever_meeting_meeting {

  p {
    margin: 16px * $padding-factor 0;
  }

  $sidebar-list-height: 20px !default;
  $sidebar-list-spacing: 8px !default;

  margin-bottom: 50px;

  .sidebar {
    width: 300px;
    float: left;

    .pending-held {
      @extend .fas;
      @extend .fa-gavel;
    }

    .pending-closed,
    .held-closed{
      @extend .fas;
      @extend .fa-check;
    }

    .workflow_state {
      &.pending:before {
        content: "";
        @include sprite();
        @extend .icon-status-open;
      }
      &.closed:before {
        content: "";
        @include sprite();
        @extend .icon-status-closed;
      }
      &.held:before {
        content: "";
        @include sprite();
        @extend .icon-status-done;
      }
    }

    .metadata {

      &.full-width {
        .button {
          width: 100%;
        }
      }

      .button {
        width: 50%;
      }

      .actionButtons {
        width: 50%;
      }

      dl {
        > dt {
          float: left;
          font-size: $sidebar-list-height;
          min-width: $sidebar-list-height;
          padding: $sidebar-list-spacing $sidebar-list-spacing $sidebar-list-spacing 0;
          text-align: center;
        }
        > dd {
          @include clearfix();
          line-height: $sidebar-list-height;
          padding: $sidebar-list-spacing 0;
          > ul {
            @include list(plain);
            float: left;
          }
        }
      }
    }

    .documents {
      .title {
        font-weight: bold;
        font-size: 14px;
      }

      .item {
        padding-top: 6px;
      }
      .agendaitem-list {
      }

      .zip-download {
        padding-bottom: 6px;
        padding-top: 21px;
      }
      .generate-agendaitem-list {
        @extend .fas;
        @extend .fa-cogs;
        float: right;
        font-size: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      .generate-protocol {
        @extend .fas;
        @extend .fa-cogs;
        float: right;
        font-size: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      .refresh-agendaitem-list {
        @extend .fas;
        @extend .fa-sync;
        float: right;
        font-size: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      .refresh-protocol {
        @extend .fas;
        @extend .fa-sync;
        float: right;
        font-size: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      .download-agendaitem-list-btn,
      .download-protocol-btn,
      .download-zipexport-btn {
        @extend .fas;
        @extend .fa-download;
        float: right;
        margin-left: 8px;
        font-size: 15px;
        &:hover {
          text-decoration: none;
        }
      }
      .fileinfo {
        padding-top: 8px;

        span {
          margin-left: 6px;
          display: list-item;
        }
      }
    }

    .excerpts {
      .title {
        font-weight: bold;
        font-size: 14px;
      }

      p {
        margin-top: 6px;
        margin-left: 6px;
      }
      ul {
        @include list(plain);
        list-style-type: None;
        margin-left: 6px;
        padding-top: 6px;
      }
      .generate-manual-excerpt {
        @extend .fas;
        @extend .fa-plus;
        float: right;
        font-size: 15px;
        &:hover {
          text-decoration: none;
        }
      }
    }

  }

  &.word-feature {
    .sidebar {
      width: 330px;

      .panes {
        position: relative;
        padding-top: 10px;
      }

      #tab-overview {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;

        nav {

          &.scroll {
            overflow-y: scroll;
          }
          ul {
            @include list(plain);
            li {
              margin-bottom: 1px;
            }
            a {
              display: block;
              background-color: $gray-light;
              padding: 8px 12px;
              .number {
                color: $black;
                font-weight: bold;
                float: left;
              }
              .title {
                color: $black;
                display: block;
                margin-left: 20px;
              }
              &.decided:before {
                @extend .fas;
                @extend .fa-check;
                float: right;
                color: $black;
              }
              &:hover {
                background-color: $gray-dark;
                text-decoration: none;
              }
              &.paragraph {
                background-color: $gray-dark;
                font-weight: bold;
                .title {
                  margin-left: 0;
                }
              }
            }
          }
        }

        .meeting-process {
          margin-left: 20px;
          padding-left: 20px;
          padding-bottom: 30px;
          border-left: 1px solid #AAA;
        }

        .meeting-document {
          position: relative;
          padding-top: 12px;
          padding-bottom: 8px;
          padding-left: 8px;
          margin-left: -8px;

          .document-condition {
            font-size: 10px;
            color: $discreet;
          }

          .document-warning {
            color: $red;
            font-size: 10px;
          }

          .document-label {
            &:before {
              @extend .far;
              @extend .fa-file-word;
              position: absolute;
              font-size: 130%;
              background-color: white;
              left: -20px;
              margin-top: -7px;
              padding: 7px 0;
            }
          }

          .document-created {
            color: $discreet;
          }

          .document-actions {
            .action {
              position: absolute;
              &:before {
                @extend .fas;
                visibility: visible;
                font-size: 150%;
                padding: 5px 7px;
              }
              &.generate {
                @extend .fa-sync;
                right: 60px;
              }
              &.download {
                @extend .fa-download;
                right: 30px;
              }
            }
            a.action {
              color: $black;
              &:hover::before {
                background-color: $gray-dark;
                border-radius: $border-radius;
              }
            }
            span.action {
              color: $disabled;
            }
          }
        }

        .meeting-workflow {
          .cancel-meeting {
            text-align: center;
            display: block;
            margin-left: -40px;
          }

          .meeting-closed,
          .close-meeting > a {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 8px;
            text-align: center;
            margin-left: -40px;
            border: 1px solid $gray-dark;
            border-radius: 2*$border-radius;
            cursor: default;
          }

          .meeting-closed {
            background-color: lighten($green-light, 35%);
            color: $green;
            border-color: lighten($green-light, 30%);
          }

          .close-meeting > a {
            background-color: $light-blue;
            color: $white;
            border-color: $blue;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
            &:hover {
              text-decoration: none;
              background-color: lighten($light-blue, 10%);
              border-color: lighten($blue, 10%);
            }
          }

          .close-meeting-helptext {
            display: none;
            margin-right: 40px;
            text-align: center;
            font-size: 8pt;
            color: $discreet;
          }

          .close-meeting.disabled {
            > a {
              background-color: $gray-light;
              color: $discreet;
              border-color: $gray-dark;
              pointer-events: none;
              cursor: default;
              box-shadow: none;
            }
            .close-meeting-helptext {
              display: block;
            }
          }

          .reopen-meeting {
            display: block;
            margin-right: 40px;
            text-align: center;
            &:before {
              @extend .fas;
              @extend .fa-undo;
              padding-right: 4px;
              color: $black;
            }
          }
        }
      }

      #tab-participants {
        position: relative;

        a#clear-participants-filter {
          @extend .fas;
          @extend .fa-times;
          position: absolute;
          right: 0;
          top: 3px;
          font-size: 10pt;
          color: #aaa;
          padding: 4px 7px;
          &:hover {
            cursor: pointer;
            text-decoration: none;
          }
        }

        input#participants-filter {
          width: 100%;
          box-sizing: border-box;
          border: 1px solid #AAA;
          border-radius: $border-radius;
          padding: 7px;
          margin-bottom: 10px;
        }

        ul.participant-list {
          @include list(plain);

          li.participant {
            background-color: $gray-dark;
            padding: 7px 10px;
            margin-bottom: 1px;

            &:hover {
              background-color: $gray-light;
            }
            &.editable:hover {
              cursor: pointer;
            }
            &.non-member.not-present {
              display: none;
            }
            .presence {
              display: inline-block;
	            border-radius: 50%;
              width: 7px;
              height: 7px;
              margin-right: 5px;
              margin-bottom: 1px;
              &.present {
                background-color: $green-light;
                &.non-member {
                  background-color: $red;
                }
              }
              &.not-present {
                background-color: $discreet;
              }
            }

            .fullname {
              display: inline-block;
              color: $gever-gray;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              vertical-align: bottom;
              max-width: 130px;
            }

            .email {
              @extend .fas;
              @extend .fa-envelope;
              color: $gever-gray;
              padding: 0px 5px;
              font-size: 80%;
              vertical-align: 1px;
              border-radius: $border-radius;
              &:hover {
                background-color: #e6e6e6;
                text-decoration: none;
              }
            }

            div.role {
              display: none;
              float: right;
              color: $discreet;
            }

            .select-role-wrapper {
              /* This wrapper is necessary for displaying a spinner */
              /* for the select node. */
              /* Select nodes cannot have before pseudo elements. */
              display: inline-block;
              float: right;
              select.role {
                background-color: white;
                width: 140px;
                height: 25px;
                padding: 0 10px;
                margin-top: -3px;
              }
            }

            .change_presence {
              margin-top: 8px;
              margin-bottom: 3px;
              margin-left: 15px;
              label {
                display: inline;
                font-weight: normal;
                color: $gever-gray;
                padding: 10px 10px 10px 0px; /** make hitbox larger **/
              }
            }

            .saving,
            .saved,
            .saving-failed {
              position: relative;
              &:before {
                position: absolute;
                left: -20px;
                @extend .fas;
              }
              &.saving:before {
                @extend .fa-spinner;
                @extend .fa-spin;
              }
              &.saved:before {
                color: $green;
                @extend .fa-check;
              }
              &.saving-failed:before {
                color: $red;
                @extend .fa-exclamation-triangle;
              }
            }

            &.folded {
              div.role {
                display: inline-block;
              }
              .select-role-wrapper,
              .change_presence,
              .membership_role {
                display: none;
              }
              .fullname {
                max-width: 180px;
              }
            }
          }
        }

        .other_participants {
          .other_participants_label {
            margin-top: 2em;
            color: $discreet;
          }
          ul.participant-list {
            li.participant {
              .fullname {
                display: inline-block;
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    .add-agenda-items {
      margin-top: 1em;

      label {
        font-size: 130%;
        margin-bottom: 2pt;
        color: #5C646A;
      }

      .input-label {
        font-weight: bold;
        margin-top: 4pt;
        margin-bottom: 4pt;
        color: #5C646A;
      }

      .input-field {
        margin-bottom: 8pt !important;
      }

      .submit {
        margin-top: 4pt;
        margin-bottom: 4pt;
      }

      table{
        margin-top: 2pt;
        margin-bottom: 2pt;
      }
    }

    #agenda_items {
      th {
        padding: 6px 10px;
      }
    }

    .agenda_item {
      td {
        border-top: 1px solid $gray-dark;
        border-bottom: none;
      }
      &:first-child td {
        border-top: 2px solid white;
      }
      &.ui-sortable-helper,
      &.paragraph.ui-sortable-helper {
        border: 1px solid rgba(0, 0, 0, 0.15);
        td {
          border-top: 2px solid transparent;
        }
      }

      .sortable-handle {
        padding: 16px 14px;
      }


      ul.documents-list {
        width: 100%;
        li.excerpt {
          width: 100%;
          margin: 0;
          clear: both;
          position: relative;
          left: -6px;
          &:hover {
            background-color: $gray-dark;
          }
          >div {
            padding: 2px 6px;
          }
          .return-excerpt,
          .create-task {
            float: right;
          }
          .return-excerpt a:before {
            @extend .fas;
            @extend .fa-check-circle;
            margin-right: 5px;
            color: $black;
          }
          .return-excerpt span.returned:before {
            @extend .fas;
            @extend .fa-check;
            color: lighten($black, 10%);
          }
          .create-task a:before {
            display: inline-block;
            padding-right: 3px;
            font-family: 'opengever';
            font-size: 80%;
            color: $black;
            content: $task;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }

      .title {
        position: relative;
        padding-left: 55px;
        color: $gever-gray;

        .toggle-attachements {
          position: absolute;
          /* Add a padding of 3px in order to increase the click area. */
          left: 3px;
          padding: 3px;
          margin-top: -3px;
        }

        .number {
          margin-right: 10px;
          color: $gever-gray;
          font-size: 140%;
          font-weight: bold;
          position: absolute;
          left: 20px;
          width: 35px;
          text-align: center;
        }

        .proposal_title {
          font-size: 130%;
          font-weight: bold;
        }

        .proposal_document  {
          margin-top: 3px;
        }

        .documents_label {
          color: $discreet;
          margin-top: 1em,
        }

        ul.documents-list {
          @include list(plain);
        }
      }

      &.paragraph {
        + tr td {
          border-top: 2px solid white;
        }
        td {
          border-top: 2px solid white;
          background-color: $gray-dark;
        }
        .title {
          color: $black;
          padding-left: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          .proposal_title {
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
        .sortable-handle {
          padding-top: 14px;
          padding-bottom: 0;
        }
      }

      .agenda-item-actions {
        display: inline-block;
        float: right;

        .agenda-item-decided {
          display: inline-block;
          padding-bottom: 11px;
          vertical-align: bottom;
          color: $discreet;
          &:before {
            @extend .fas;
            @extend .fa-check;
            padding-right: 5px;
            color: lighten($discreet, 10%);
          }
        }
        .action-buttons {
          display: inline-block;
        }

        .button {
          color: #555;
          &:before {
            @extend .fas;
            margin-right: 5px;
          }
          &.edit-document:before {
            @extend .fa-file-word;
          }
          &.decide-agenda-item:before,
          &.revise-agenda-item:before {
            @extend .fa-check;
          }
          &.generate-excerpt:before {
            @extend .fa-clone;
          }
        }
        .action-buttons .button.loading {
          background-image: none;
          background-color: #e6e6e6;
          pointer-events: none;
          &:before {
            @extend .fa-spinner;
            @extend .fa-spin;
          }
        }

        .action-buttons > .button {
          float: left;
          margin-left: 0;
          margin-right: 0;
          &:first-child {
            margin-left: 5px;
          }
          &:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
          }
          &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }

        ul.editing-menu {
          display: none;
          &.opened {
            display: block;
          }
          @include list(plain);
          position: absolute;
          z-index: 10;
          right: 18px;
          top: 49px;
          padding-top: 3px;
          background-color: white;
          border: 1px solid $gray-dark;
          border-radius: 2*$border-radius;
          box-shadow: 1px 2px 3px -1px rgba(1,1,1,0.2);
          -moz-box-shadow: 1px 2px 3px -1px rgba(1,1,1,0.2);
          -webkit-box-shadow: 1px 2px 3px -1px rgba(1,1,1,0.2);
          a {
            display: block;
            padding: 6px 14px;
            color: $black;
            &:hover {
              background-color: $gray-dark;
              text-decoration: none;
            }

            &:before {
              @extend .fas;
              padding-right: 7px;
              color: lighten($black, 10%);
            }
            &.rename-agenda-item:before {
              @extend .fa-pen;
            }
            &.delete-agenda-item:before {
              @extend .fa-times;
            }
            &.reopen-agenda-item:before {
              @extend .fa-undo;
            }
            &.debug-excerpt-docxcompose:before {
              @extend .fa-file-download;
            }
          }
        }

      }
    }

    .overlay {
      &#rename_agenda_item_dialog {
        min-width: 600px;
      }

      .button-group {
        button {
          float: left;
          margin-right: 0;
          &:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: none;
          }
          &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }
        }
        button,
        input[type="submit"],
        input[type="button"] {
          &.loading {
            background-image: none;
            background-color: #e6e6e6;
            pointer-events: none;
            &:before {
              @extend .fas;
              @extend .fa-spinner;
              @extend .fa-spin;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    box-sizing: border-box;
    padding-left: 350px;
    .collapsible {
      float: left;
    }
  }
}

table#agenda_items {
  float: left;
  tbody {
    tr {
      &.expanded {
        .title {
          .attachements {
            display: block;
            .toggle-attachements-btn {
            }
          }
          .summary {
            display: block;
          }
        }
        .toggle-attachements {
          .toggle-attachements-btn {
            @extend .fa-caret-down;
          }
        }
      }
      &.proposal {
        .actions .delete-agenda-item {
          @extend .fa-times;
        }
      }
      td {
        vertical-align: top;
      }
      &.ui-sortable-helper {
        box-shadow: 10px 10px 10px 0 $shadow-black-color;
        border: 1px solid $gray-dark;
      }
      .sortable-handle {
        width: 10px;
        @extend .fas;
        @extend .fa-bars;
        display: table-cell;
        &:hover {
          cursor: move;
        }
      }
      .number {
        width: 10px;
      }
      .title {
        padding-left: $padding-factor * 16px * 2;
        > span {
          display: block;
        }
        .attachements {
          &, &>ul {
            @include list(plain);
          }
          margin: $padding-factor * 16px 0;
          margin-right: $padding-factor * 18px;
          display: none;
        }
        .summary {
          margin: $padding-factor * 16px 0;
          float: right;
          display: none;
        }
        .proposal_document.checked-out {
          position: relative;
          &:before {
            position: absolute;
            @extend .fas;
            content: $fa-var-lock;
            color: #aaa;
            margin-left: -15px;
          }
        }
        .proposal_description{
          clear: both;
        }
      }
      .toggle-attachements {
        width: 10px;
        .toggle-attachements-btn {
          @extend .fas;
          @extend .fa-caret-right;
          font-size: 20px;
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      .actions {
        width: 106px;
        > .button-group .button {
          width: 47px;
        }
        .edit-document {
          position: relative;
          @extend .fas;
          @extend .fa-file-word;
        }
        .delete-agenda-item {
          @extend .fas;
          @extend .fa-trash;
        }
        .edit-agenda-item {
          @extend .fas;
          @extend .fa-pen;
        }
        .decide-agenda-item, .revise-agenda-item {
          > span {
            @extend .fas;
            @extend .fa-check;
          }
        }
        .reopen-agenda-item > span {
          @extend .fas;
          @extend .fa-reply;
        }
        .generate-excerpt {
          @extend .fas;
          @extend .fa-clone;
        }
      }
    }
    .paragraph {
      .proposal_title {
        font-weight: bold;
        padding-left: $padding-factor * 16px;
      }
    }
  }
}

#committees_view {
  .committee_box {
    float: left;
    width: 25em;
    height: 15em;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2px;
    .header {
      height: 5em;
      a {
        color: #205c90;
        &:visited,&:hover {
          color: #205c90;
        }
      }
    }
    &.inactive {
      background-color: #e6e6e6;
      border-color: #bbb;
      .header a{
        color: #888
      }
    }
  }
  .unscheduled_proposals {
    padding-bottom: .75em;
    border-bottom: 1px solid #ccc;
    .number {
      float: right;
      background: #71a971;
      padding: 2px 6px;
      border-radius: 10px;
      font-size: 12px;
      color: #fff;
      &:hover, &:visited {
        text-decoration: none;
      }
    }
    .unscheduled_number {
      background: #ff7070;
    }
  }
  .meetings {
    list-style-type: none;
    margin-top: 2em;
    margin-left: 0em;
  }

}

#unscheduled_porposals.list-group {
  .title{
    font-weight: bold;
    margin-top: 1em;
  }
}

$spacing: 8px;

#content #period_listing {

  list-style-type: none;
  vertical-align: middle;

  li.period {
    padding-left: 10px;
    padding-right: 10px;
  }

  > li {
    display: table;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    margin-bottom: 0;
  }

  .title {
    display: table-cell;
    vertical-align: top;
  }

  .actions {
    display: table-cell;
    vertical-align: middle;
    li {
      display: inline;
      margin-left: 5px;
      white-space: nowrap;
      line-height: 3em
    }
    a {
      padding: $spacing;
      padding-left: $spacing;
      color: #000;
      border: 1px solid $gray-dark;
      margin-bottom: $spacing;
      border-radius: 2px;
      transition: background-color .2s ease-out;

      &:hover {
        text-decoration: none;
        background-color: $gray-light;
      }

      &:before {
        @extend .fas;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }

      &.edit_period:before {
        @extend .fa-pencil-alt;
      }

      &.download_toc:before {
        @extend .fa-download;
      }

      &.loading {
        pointer-events: none;
        &:before {
          @extend .fas;
          @extend .fa-circle-notch;
          @extend .fa-spin;
        }
      }
    }
  }
}

.template-opengever-meeting-proposal {

  // Hiding the empty rows for optional choice fields in the proposal add form.
  //
  // The fields are optional, thus the empty lines gets displayed by the widgets.
  // Because the fields are only partial optinoal, means, that one of the two
  // fields have to be selected, we don't want to display the empty rows.
  //
  // Overriding the widgets itself for this edgecase would be overkill.
  // So we just hiding the empty-rows by css.
  #formfield-form-widgets-proposal_template tbody tr:first-child   {
    display: none;
  }

  #formfield-form-widgets-proposal_document label.horizontal,
  #formfield-form-widgets-proposal_template label.horizontal{
    display: none;
  }
}
