@import "gradient";

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin ie-only {
  @media \9screen,screen\0 {
    @content
  }
}

@mixin component {
  padding: $padding-factor * 8px $padding-factor * 16px;
  line-height: 24px * $padding-factor;
  border: 1px solid $gray-dark;
  box-sizing: border-box;
  border-radius: $border-radius;
  color: $black;
  margin: 0;
  height: 42px;
  &:focus {
    background-color: $white;
    border-color: $light-blue;
  }
  &:hover {
    background-color: $gray-light;
  }
}

@mixin clearfix() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}



@mixin equalHeight($width) {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: $width;
    background-color: #fff;
  }
}

@mixin list($style: default) {
  @if $style == default {
    list-style: disc;
    padding-left: 2em;
  }
  @if $style == plain {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  @if $style == inline {
    padding-left: 0;
    margin: 0;
    li {
      display: inline;
    }
  }
  @if $style == table {
    padding-left: 0;
    margin: 0;
    display: table;
    li {
      display: table-cell;
    }
  }
}

@mixin defList($style: default) {
  @if $style == default {
    > dt {
      float: left;
    }
    > dd {
      margin: 20px 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  @if $style == table {
    display: table;
    > dt {
      display: table-cell;
    }
    > dd {
      margin: 20px 0;
      display: table-cell;
    }
  }
}

@mixin flexbox {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

@mixin flex-grow($int: 0) {
  -webkit-box-flex: $int;
  -webkit-flex-grow: $int;
  -moz-flex-grow: $int;
  -ms-flex-positive: $int;
  flex-grow: $int;
}

@mixin flex-shrink($int: 1) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex-negative: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  -moz-flex-basis: $value;
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
}
