#notifications-menu-toggler {
  &:before {
    @extend .fa-bell;
  }
}

.notification-item-header {
  display: flex !important;
  justify-content: space-between;
}

.notification-list-item-title {
  // Override actionmenu styles from plone
  padding: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-list-item {
  flex-direction: column;
  line-height: 20px;
}

.notification-list-item-unread {
  border-left: 3px solid #205C90;
}

.notifications {
  max-height: 450px;
  overflow-y: scroll;
}

.notification-list-item-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  > a {
    display: inline !important;
    padding: 0 !important;
  }
}

ul.notifications-configurations-form {
  display: inline-block;

  input {
    margin-top: 20px;
    margin-left: 10px;
  }

  label {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 10px;
  }

  .formHelp {
    margin-left: 10px;
    max-width: 45em;
  }

  a.save-config:before {
    @extend .fas;
    @extend .fa-check;
  }

  a.reset-config:before {
    @extend .fas;
    @extend .fa-trash-alt;
  }

  a.cancel-config:before {
    @extend .fas;
    @extend .fa-times;
  }

}

.notifications-settings-form,
.notifications-configurations-form {

  .actions-column {
    width: 450px;
  }

  .badge-title:before{
    @extend .far;
    @extend .fa-bell;
    padding-right: 5px;
  }

  .mail-title:before{
    @extend .far;
    @extend .fa-envelope;
    padding-right: 5px;
  }

  li.settings-changed,
  .settings-changed td,
  .settings-changed:nth-child(even) td {
    background-color: #fce9e3;
  }

  tr:nth-child(even) td {
    background-color: $gray-table-row;
  }

  tr td {
    vertical-align: middle;
  }

  .notification-settings-kind span {
    font-weight: bold;
  }

  .action {
    @include button();
  }

  .save-setting,
  .cancel-setting,
  .save-config,
  .cancel-config {
    display: none;
  }

  .settings-changed {
    .save-setting,
    .cancel-setting,
    .save-config,
    .cancel-config {
      display: inline-block;
    }
  }

  .save-setting:before {
    @extend .fas;
    @extend .fa-check;
  }

  .reset-setting:before {
    @extend .fas;
    @extend .fa-trash-alt;
  }

  .cancel-setting:before {
    @extend .fas;
    @extend .fa-times;
  }

  label {
    font-weight: normal;
    line-height: 30px;
  }

}

#notification-settings-form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.template-personal-preferences {
  .documentByLine {
    display: none;
  }

  #notification-settings-form {
    margin-top: 1em;
  }

  .panes {
    margin-top: 1em;
  }

  table {
    width: 100%;

    th:nth-child(1) {
      width: 250px;
    }
    th:nth-child(2) {
      width: 170px;
    }
    th:nth-child(3) {
      width: 170px;
    }
    th:nth-child(4) {
      width: 170px;
    }
    th:nth-child(5) {
      width: auto;
      min-width: 130px;
    }
  }
}

.notification-settings-description {
  max-width: 850px;
  margin-bottom: 30px;
}
