#notifications-menu-toggler {
  &:before {
    @extend .fa-bell;
  }
}

.notification-item-header {
  display: flex !important;
  justify-content: space-between;
}

.notification-list-item-title {
  // Override actionmenu styles from plone
  padding: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-list-item {
  flex-direction: column;
  line-height: 20px;
}

.notification-list-item-unread {
  border-left: 3px solid #205C90;
}

.notifications {
  max-height: 450px;
  overflow-y: scroll;
}

.notification-list-item-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  > a {
    display: inline !important;
    padding: 0 !important;
  }
}

.notifications-settings-form {

  .actions-column {
    width: 450px;
  }

  .badge-title:before{
    @extend .far;
    @extend .fa-bell;
    padding-right: 5px;
  }

  .mail-title:before{
    @extend .far;
    @extend .fa-envelope;
    padding-right: 5px;
  }

  .settings-changed td,
  .settings-changed:nth-child(even) td {
    background-color: #fce9e3;
  }

  tr:nth-child(even) td {
    background-color: $gray-table-row;
  }

  tr td {
    vertical-align: middle;
  }

  .notification-settings-kind span{
    font-weight: bold;

    &:before {
      font-family: 'opengever';
      content: "x";
      padding-right: 5px;
    }

    &.created:before { content: $refuse; }
    &.reopen:before { content: $reopen; }
    &.reactivate:before { content: $reactivate; }
    &.cancelled:before { content: $cancelled; }
    &.accept:before { content: $accept; }
    &.reassign:before { content: $reassign; }
    &.revise:before { content: $revise; }
    &.skip:before { font-family: 'Font Awesome 5 Free'; content: fa-content($fa-var-step-forward); }
    &.taskCommented:before { content: $comment; }
    &.assignDossier:before { content: $assignDossier; }
    &.complete:before { content: $complete; }
    &.close:before { content: $close;}
    &.addSubtask:before { content: $addSubtask;}
    &.addDocument:before { content: $addDocument;}
    &.created:before { content: $created; }
    &.modifyDeadline:before { content: $modifyDeadline; }
    &.reactivated:before { content: $reactivate; }
    &.refuse:before { content: $refuse; }
    &.delegate:before { content: $delegate; }
    &.submitted:before { content: $submit; }
    &.rejected:before { content: $reject; }
    &.scheduled:before { content: $schedule; }
    &.pulled:before { content: $removeSchedule; }
    &.decided:before { content: $decided; }
    &.commented:before { content: $comment; }
    &.documentUpdated:before { content: $updateDocument; }
    &.documentAdded:before { content: $addDocument; }
    &.taskReminder:before { font-family: 'Font Awesome 5 Free'; content: fa-content($fa-var-clock); }
    &.dispositionAdded:before { content: $created; }
    &.dispositionAppraised:before { font-family: 'Font Awesome 5 Free';  content: fa-content($appraise); }
    &.dispositionDisposed:before { font-family: 'Font Awesome 5 Free';  content: fa-content($dispose); }
    &.dispositionArchived:before { font-family: 'Font Awesome 5 Free';  content: fa-content($archive); }
    &.dispositionClosed:before { font-family: 'Font Awesome 5 Free';  content: fa-content($disposition-close); }
    &.dispositionRefused:before { font-family: 'Font Awesome 5 Free';  content: fa-content($disposition-refuse); }
    &.dossierOverdue:before { content: $time; }
  }

  .action {
    @include button();
  }

  .save-setting,
  .cancel-setting {
    display: none;
  }

  .settings-changed {
    .save-setting,
    .cancel-setting {
      display: inline-block;
    }
  }

  .save-setting:before {
    @extend .fas;
    @extend .fa-check;
  }

  .reset-setting:before {
    @extend .fas;
    @extend .fa-trash-alt;
  }

  .cancel-setting:before {
    @extend .fas;
    @extend .fa-times;
  }

  label {
    font-weight: normal;
    line-height: 30px;
  }

}

#notification-settings-form ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.template-personal-preferences {
  .documentByLine {
    display: none;
  }

  #notification-settings-form {
    margin-top: 1em;
  }

  .panes {
    margin-top: 1em;
  }

  table {
    width: 100%;

    th:nth-child(1) {
      width: 250px;
    }
    th:nth-child(2) {
      width: 170px;
    }
    th:nth-child(3) {
      width: 170px;
    }
    th:nth-child(4) {
      width: 170px;
    }
    th:nth-child(5) {
      width: auto;
      min-width: 130px;
    }
  }
}

.notification-settings-description {
  max-width: 850px;
  margin-bottom: 30px;
}
