/*
Original file from opengever.base project
 */

/* @group tree portlet */

#dossier-tree {
  padding-right: 1em;
  ul {
    &.folded {
      display: none;
    }
  }
  ul.filetree {
    $toggler-size: 1.8em;
    $padding-horizontal: .5em;
    $icon-width: 1.375em;

    margin: 0;
    padding: 0;
    list-style-type: none;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    li {
      display: block;
      margin: 0;
      padding: 0;
      padding-left: $toggler-size;
      line-height: $toggler-size;
      a {
        display: inline-block;
        width: 100%;
        padding-left: $toggler-size + $padding-horizontal + $icon-width;
        padding-right: $padding-horizontal;
        clear: both;
        box-sizing: border-box;
        &.current {
          background: $gray-dark;
        }
        &.toggleNav {
          height: $toggler-size;
          width: $toggler-size;
          background: url(++resource++opengever.base/images/expand_navi.png) no-repeat center center;
          float: left;
          text-decoration: none;
          clear: none;
          padding-left: 0;
          padding-right: 0;
        }
        &.expanded {
          background: url(++resource++opengever.base/images/collapse_navi.png) no-repeat center center;
        }
        &:before {
          margin-left: - $icon-width;
          text-align: center;
        }
        + a {
          padding-left: $padding-horizontal + $icon-width;
          width: calc(100% - #{$toggler-size});
        }
      }
    }
    > li {
      padding-left: 0;
    }
  }
}

dl.portlet.portletTreePortlet {
  min-height: 100px;
  border: none;
}

dl.portlet.portletTreePortlet .portletHeader {
  padding: 0;
  border: none;
  border-right: 1px solid #CCC;
  background-color: transparent;
}

dl.portlet.portletTreePortlet .portlet-header-tabs {
  display: flex;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

dl.portlet.portletTreePortlet .portlet-header-tabs li {
  width: 50%;
  text-align: center;
  padding: 0;
  padding-left: 1px;
}
dl.portlet.portletTreePortlet .portlet-header-tabs li:first-child {
  padding-left: 0;
}

dl.portlet.portletTreePortlet .portlet-header-tabs li a {
  padding: 0.3333em 0.75em;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  margin: 0;
  margin-bottom: -1px;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: linear-gradient(top, #f5f5f5, #e6e6e6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 0;
}
dl.portlet.portletTreePortlet .portlet-header-tabs li:last-child a {
  border-right: none;
}

dl.portlet.portletTreePortlet .portlet-header-tabs li a.active,
dl.portlet.portletTreePortlet .portlet-header-tabs li:hover a {
  background: white;
  border-bottom: 1px solid transparent;
}

dl.portlet.portletTreePortlet .portlet-header-tabs li a.the-only-one {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
  background-image: linear-gradient(top, #f5f5f5, #e6e6e6);
  border-bottom: 1px solid #ccc;
  cursor: default;
}


dl.portlet.portletTreePortlet dd.portletFooter {
  display: none;
}
dl.portlet.portletTreePortlet .portlet-tabs {
  border: 1px solid #ccc;
  border-top: none;
}
dl.portlet.portletTreePortlet .portlet-tabs > .tab {
  overflow-y: auto;
  height:100%;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

dl.portlet.portletTreePortlet li {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}
#container dl.portlet ul.filetree li a,
dl.portlet ul.filetree ul.navTree li a {
  padding: 0.25em;
}
dl.portlet.portletTreePortlet .filetree a.current,
dl.portlet.portletTreePortlet .filetree a.inPath:last-child {
  background: #DDD;
}

#tree-favorites {
  text-align: center;
  .filetree {
    text-align: left;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 10px;
  }
}

dl.portlet.portletTreePortlet .no-favorites {
  padding: 10px;
  border-bottom: 1px solid #cbcbcb;
  text-align: left;
}

dl.portlet.portletTreePortlet .toggle-helptext {
  display: inline-block;
  padding: 10px 0;
  position: relative;
}

dl.portlet.portletTreePortlet .toggle-helptext:before {
  content: "";
  position: absolute;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px;
  border-color: transparent transparent #cbcbcb transparent;
  display: block;
  right: -12px;
}

dl.portlet.portletTreePortlet .toggle-helptext.expanded:before {
  border-color: #cbcbcb transparent transparent transparent;
  top: 17px;
}

dl.portlet.portletTreePortlet .helptext {
  text-align: left;
  padding: 0 10px;

}
dl.portlet.portletTreePortlet .helptext p {
  padding-bottom: 10px;
}

dl.portlet.portletTreePortlet .favorite-icon:before {
  font-family: 'opengever';
  content: "\e62c";
  width: 22px;
  color: #AAA;
  text-align: center;
}

dl.portlet.portletTreePortlet .helptext .favorite-icon:before {
  font-size: 80%;
}

dl.portlet.portletTreePortlet .add-to-favorites:before,
dl.portlet.portletTreePortlet .filetree a:hover .favorite-icon:before {
  color: #3387A1;
}

dl.portlet.portletTreePortlet .remove-from-favorites:before,
dl.portlet.portletTreePortlet .filetree a:hover .favorite-icon.bookmarked:before {
  content: "\e62b";
  color: #A13333;
}

dl.portlet.portletTreePortlet .filetree .favorite-icon:before {
  display: block;
  float: right;
  text-decoration: none;
  cursor: pointer;
  color: transparent;
}

dl.portlet.portletTreePortlet .filetree .favorite-icon.bookmarked:before {
  color: #AAA;
}

dl.portlet ul.filetree ul.folded {
  display: none;
}
dl.portlet ul.filetree a.toggleNav {
  z-index: 4;
  display: block;
  width: 1em;
  height: 1em;
  background: url(++resource++opengever.base/images/expand_navi.png) no-repeat center center;
  float: left;
  margin-left: -1.3em;
}
dl.portlet ul.filetree a.toggleNav.expanded {
  background: url(++resource++opengever.base/images/collapse_navi.png) no-repeat center center;
}
#column-navigation dl.portlet ul.filetree a.toggleNav {
  text-decoration: none;
}

/* @end */


.portaltype-ftw-mail-mail table.mailHeaders {
  margin-bottom: 1.5em;
}

.documentByLine, #plone-document-byline {
  position: relative;
  z-index: 1;
  margin-top: 1.5em;
}



@media screen {

  /* @group general */

  .template-confirm-action .documentByLine {
    display: none;
  }

/* @end */
}
