.template-add-membership, .template-opengever-meeting-proposal, #content, .portaltype-opengever-meeting-proposal.template-edit {
  #opengever_meeting_meeting, #opengever_meeting_protocol, #content {
    input.select-autocomplete {
      background: url("../../images/caret_down.png") no-repeat right center;
      background-size: 40px !important;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      padding-left: 8px;
      padding-right: 20px;
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 4px;
      height: 28px;
      &.searching {
        background: url("../../images/search.png") no-repeat right center;
      }
    }
  }
}
