#content {
  .sharing-form {
    .search-form {
      padding: 1em 0em;
    }
    .search_box {
      min-width: 200px;
    }

    .sharing-table {
      margin-bottom: 1em;

      .principal_header {
        min-width: 300px;
        max-width: 300px;
      }

      .principal {
        &:before {
          @extend .fas;
          font-size: 16px;
          padding-left: 6px;
          padding-right: 6px;
          color: $icon-color;
        }
        &.group:before {
          @extend .fa-user-friends;
        }
        &.user:before {
          @extend .fa-user;
        }
      }

      .role_cell {
        text-align: left;
      }

      td {
        padding: 10px 10px 10px 10px;
      }

    }

    .local:before,
    .acquired:before {
      @extend .fas;
      @extend .fa-check-circle;
      font-size: 16px;
      color: $green-light;
    }

    .automatic {
      float: right;
      &:before {
        @extend .fas;
        @extend .fa-check-circle;
        font-size: 16px;
        color: $gray-darker;
      }
      &.highlight:before {
        color: $shadow-blue-color;
      }
    }

    .assignments_info_button {
      float: right;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
      &:before {
        @extend .fas;
        @extend .fa-question-circle;
        font-size: 16px;
        cursor: pointer;
        color: $gray-darker;
      }

      &.folded {
        &:before {
          color: $gray-dark;
        }
      }
    }

    .assignments_info {
      max-width: 292px;
      margin-left: 6px;
    }

    .assignments_listing {
      margin-top: 5px;
      margin-left: 1em;

      li {
        list-style-type: none;
      }
    }

    .loading {
      pointer-events: none;
      &:before {
        @extend .fas;
        @extend .fa-circle-notch;
        @extend .fa-spin;
        margin-right: 5px;
        font-size: $button-font-size;
      }
    }
  }
}
