.tabbedview_view {
  .tabbedview-tabs {
    position: relative;
    z-index: 2;
  }
  #tabbedview-body #selection_container .select2-container,
  #tabbedview-body #message_no_contents .select2-container {

    margin-left: 1px;

    &.select2-container--default .select2-selection{
      border: 1px solid transparent;
      min-height: inherit;

      &:hover {
        border: 1px solid #aaa;
      }
    }

    &.select2-container--focus .select2-selection{
      border: 1px solid #aaa;
      min-height: inherit;
    }

    li {
      margin-top: 0;
      margin-bottom: 0;
    }
    li.select2-selection__choice {
      line-height: 1.4em;
      margin-top: 5px;
    }
  }

  #tabbedview-body #message_no_contents .select2-selection--multiple {
    // Fixes an issue where the calculated width of the input-filed is broken.
    // This happens, if the search field is hidden by default and gets visible
    // thorugh JS. This is the case if there where no results found within a
    // table-listing
    //
    // See https://github.com/select2/select2/issues/3462 for more information
    .select2-search--inline:first-child {
      width: 100%;
      .select2-search__field {
        width: 100% !important;
      }
    }
  }
}

#content .formTabs {
  // https://css-tricks.com/fighting-the-space-between-inline-block-elements/#article-header-id-3
  font-size: 0;

  > li {
    float: none;
    display: inline-block;
    margin: 0;
    margin-right: 1px;
    font-size: 1rem;

    > a {
      border-bottom: 0;
      position: relative;

      &:hover, &.selected {
        border-bottom: 0;
        margin-bottom: -1px;

        &:before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          background-color: #fff;
          height: 1px;
        }
      }
    }
  }
}
