.tabbedview_view {
  .tabbedview-tabs {
    position: relative;
    z-index: 2;
  }
}

#content .formTabs {
  // https://css-tricks.com/fighting-the-space-between-inline-block-elements/#article-header-id-3
  font-size: 0;

  > li {
    float: none;
    display: inline-block;
    margin: 0;
    margin-right: 1px;
    font-size: 1rem;

    > a {
      border-bottom: 0;
      position: relative;

      &:hover, &.selected {
        border-bottom: 0;
        margin-bottom: -1px;

        &:before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          background-color: #fff;
          height: 1px;
        }
      }
    }
  }
}
