#sub_taskBox,
#task-responses {
  [class*="wf-task-state"],
  [class*="wf-proposal-state"],
  [class*="wf-forwarding-state"],
  [class*="wf-meeting-state"] { width: auto; height: auto; }
  .icon-task-subtask { white-space: normal; }
}

.actor-label {
  text-decoration: none;
  background-image: none;
  padding: 0;

  &:before {
    font-family: 'opengever';
    content: "x";
    display: inline-block;
    color: #bababa;
    font-size: 14px;
    min-width: 20px;
  }

  &:hover {
    &:before {
      text-decoration: none;
    }
  }

  &.actor-user:before {
    content: $actor;
  }

  &.actor-team:before {
    content: $team;
  }

  &.actor-contact:before {
    content: $actor;
  }

  &.actor-inbox:before {
    content: $inbox;
  }
}

#sub_taskBox {
  .sequence_type {
    color: $gray-darker;
    font-style: italic;
  }

  .task-container {
    @include flexbox;
    @include flex-grow(0);
    @include flex-shrink(1);
    @include flex-basis(auto);
    padding-top: 5px;

    .task {
      @include flexbox;
    }
  }

  .task-sequence-line-container {
    @include flex-grow(1);
    @include flex-basis(0);
    @include flexbox();
    @include flex-direction(column);
    @include flex-shrink(0);
  }

  .task-sequence-line {
    @include flex-grow(1);
    @include flex-basis(0);
    max-width: 100%;
    @include flex-shrink(0);
  }

  .task-sequence-arrow {
    @include flex-grow(1);
    @include flex-basis(0);
    max-height: 25px;
  }

  .task-list {
    max-width: 100%;
    @include flex-grow(1);
    @include flex-basis(0);
    @include flex-shrink(0);
  }

  .add-task {
    &:before{
      @extend .fas;
      @extend .fa-plus-circle;
      color: $gray-darker;
      font-size: 10px;
      padding-left: 10px;
    }

    &:hover:before {
      font-size: 16px;
      color: $blue;
    }

  }

  .sequential {

    .task-sequence-line-container {
      max-width: 20px;
      margin-top: 5px;
      margin-bottom: -3px;
    }

    .task-sequence-arrow {
      @extend .fas;
      @extend .fa-arrow-down;
      color: $gray-darker;
    }

    .task-sequence-line {
      border-left: 2px dashed $gray-darker;
      margin-left: 4px;
    }

  }
}

#sequence_taskBox {

  .discret {
    color: $gray-darker;
  }

  .task {
    margin: 0px 0px 10px 10px;
  }
}

.taskReminderSelector {
  dl {
    width: 100%;
    cursor: pointer;
  }
  .taskReminderSelectorOptionIcon {
    width: 1.5em;
  }
}


#formfield-form-widgets-reminder_option_calendar {
  display: none;
}
