.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  padding:10px 15px;
  width: 450px;
  min-height: 300px;
  font-size: 12px;
  text-align: left;
  background: #fff;
  border: 1px solid $gray-light;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
}

body:before {
  content: "";
  transition: opacity .2s ease-in-out;
  opacity: 0;
  background: rgba(0, 0, 0, .08);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.bumblebee-tooltip-open:before {
  opacity: 1;
}

.x-grid3-row.bumblebee-tooltip-active {
  position: relative;
  z-index: 200;
  background: #fefeee;
}

.tooltip-trigger {
  display: inline-block;
}

.tooltip-header {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1em;
}

.tooltip-breadcrumb {
  margin-bottom: 1em;
  line-height: 16px;
  color: #969696;

  a {
    color: #969696;
    word-break: break-word;
  }

  li {
    &:after {
      content: ">";
      padding-left: 6px;
      padding-right: 3px;
    }
    &:last-child:after {
      content: none;
    }
  }
}

.tooltip-content {
  .file-action-buttons {
    width: 50%;
    float: left;

    > a {
      @include button-fluid();
    }

    > span {
      @include button-fluid($disabled: true);
    }

  }

}


.preview {
  float: left;
  width: 50%;
  text-align: center;

  img {
    display: block;
    margin: 0 auto;
    border: 1px solid $gray-dark;
  }

  span {
    display: block;
    margin-top: 5px;
  }

}
