.DS_Store
.installed.cfg
.mr.developer.cfg
*.egg-info
*.mo
*.pyc
bin/
build/
buildout.cfg
coverage/
develop-eggs/
dist/
eggs/
parts/
src/
var/
include/
lib/
lib64
pip-selfcheck.json
docker-compose.yml
