@import "toolbar";
@import "editor";

.trix-input {
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
  display: block !important;
  visibility: hidden !important;
}
