/* Content type schemas */

.required-marker:after {
    font-size: 11px;
    visibility: visible;
    content: "■";
    color: #FF0000;
    padding-left: 4px;
}

.required {
    visibility: hidden;
}

div.body li.toctree-l2 ul {
    display: none;
}


h3 img {
    margin-bottom: -7px;
    padding-right: 5px;
}

dl.class {
    padding-top: 1em;
}

dl.attribute {
    padding-top: 0.5em;
}

.field-title {
    padding-bottom: 5px;
}

table.field-list th.field-name {
    color: #666666;
    font-weight: normal;
}

table.field-list tbody tr:first-child th {
    padding-bottom: 3px;
}

table.field-list tbody tr:first-child td {
    font-weight: 600;
}

table.field-list th.field-name {
    min-width: 10em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}


/* Content type icons */

#schemas .section > h3 {
    background-repeat: no-repeat;
    padding-left: 2.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    min-height: 38px;
}

#schemas .small-comment {
    font-style: italic;
    font-size: small;
}

#schemas .small-comment::before {
    /* Insert a CSS line break before the small comment */
    display: block;
    content: "\A";
}

#schemas #ordnungssystem > h3 {
    background-image: url('img/repositoryroot.png');
}

#schemas #ordnungsposition > h3 {
    background-image: url('img/repositoryfolder.png');
}

#schemas #geschaftsdossier > h3 {
    background-image: url('img/dossier.png');
}

#schemas #dokument > h3 {
    background-image: url('img/document.png');
}

#schemas #mail > h3 {
    background-image: url('img/mail.png');
}

#schemas #kontakt > h3 {
    background-image: url('img/contact.png');
}

#schemas #aufgabe > h3 {
    background-image: url('img/task.png');
}


/* Collapsibles */

.collapsible .header {
    display: block;
    clear: both;
}

.collapsible .header:after {
    content: " ▶";
}

.collapsible .header.open:after {
    content: " ▼";
}
