<script type="text/x-template" id="recently-touched-menu-list">

  <div class="recently-touched-menu">

    <dl>
      <dt>
        <a class="header-dropdown-button" :class="{ isOpen: isOpen }" href="#" id="recently-touched-menu-toggler" @click.prevent="toggle"></a>
        <span v-show="numCheckedOut > 0" class="num-checked-out-docs">{{numCheckedOut}}</span>
      </dt>
      <dd v-show="isOpen">

        <!-- Checked Out -->
        <span class="menu-group-header discreet">{{i18n.label_checked_out}}</span>
        <ul class="group-checked-out">
          <li v-for="entry in checkedOut">

            <div class="item-content">
              <a class="document-link" :class="entry.icon_class" :href="entry.target_url">{{entry.title}}</a>
              <span class="item-timestamp timeago relativetime discreet" :title="entry.last_touched">{{entry.last_touched}}</span>
            </div>

          </li>

          <li v-show="checkedOut.length === 0">
            <span class="discreet">({{i18n.label_no_checked_out_docs}})</span>
          </li>

        </ul>

        <hr />

        <!-- Recently Touched -->
        <span class="menu-group-header discreet">{{i18n.label_recently_touched}}</span>
        <ul class="group-recently-touched">
          <li v-for="entry in recentlyTouched">

            <div class="item-content">
              <a class="document-link" :class="entry.icon_class" :href="entry.target_url">{{entry.title}}</a>
              <span class="item-timestamp timeago relativetime discreet" :title="entry.last_touched">{{entry.last_touched}}</span>
            </div>

          </li>

          <li v-show="recentlyTouched.length === 0">
            <span class="discreet">({{i18n.label_no_recently_touched_docs}})</span>
          </li>

        </ul>

      </dd>
    </dl>

  </div>

</script>
