<script type="text/x-template" id="recently-touched-menu-list">

  <div class="recently-touched-menu">

    <dl class="dropdown-menu">
      <dt class="dropdown-menu-header">
        <a class="dropdown-menu-header-button" :class="{ isOpen: isOpen }" href="#" id="recently-touched-menu-toggler" @click.prevent="toggle"></a>
        <span v-show="numCheckedOut > 0" class="dropdown-menu-header-badge">{{numCheckedOut}}</span>
      </dt>
      <dd class="dropdown-menu-content" v-show="isOpen">

        <!-- Checked Out -->
        <ul class="dropdown-list">
          <li><span class="dropdown-list-header">{{i18n.label_checked_out}}</span></li>
          <li v-for="entry in checkedOut">
            <a class="dropdown-list-item" :href="entry['@id']">
              <i :class="entry.icon_class" class="dropdown-list-item-icon"></i>
              <span class="dropdown-list-item-content">{{entry.title}}</span>
              <span class="dropdown-list-item-suffix timeago relativetime" :title="entry.last_touched">{{entry.last_touched}}</span>
            </a>
          </li>

          <li v-if="checkedOut.length === 0">
            <span class="dropdown-list-item">
              <span class="dropdown-list-item-content">({{i18n.label_no_checked_out_docs}})</span>
            </span>
          </li>

        </ul>

        <hr class="dropdown-list-divider" />

        <!-- Recently Touched -->
        <ul class="dropdown-list">
          <li><span class="dropdown-list-header">{{i18n.label_recently_touched}}</span></li>
          <li v-for="entry in recentlyTouched">
            <a class="dropdown-list-item" :href="entry['@id']">
              <i :class="entry.icon_class" class="dropdown-list-item-icon"></i>
              <span class="dropdown-list-item-content">{{entry.title}}</span>
              <span class="dropdown-list-item-suffix timeago relativetime" :title="entry.last_touched">{{entry.last_touched}}</span>
            </a>
          </li>

          <li v-if="recentlyTouched.length === 0">
            <span class="dropdown-list-item">
              <span class="dropdown-list-item-content">({{i18n.label_no_recently_touched_docs}})</span>
            </span>
          </li>

        </ul>

      </dd>
    </dl>

  </div>

</script>
