<script id="agendaitemsTemplate" type="text/x-handlebars-template">
  {{#each agendaitems}}
  <tr class="{{css_class}} word-feature agenda_item" data-uid="{{id}}" id="ai{{id}}">
    {{#if ../agendalist_editable}}<td class="sortable-handle"></td>{{/if}}
    <td class="title">

      <div class="agenda-item-actions">
        {{#if is_decided}}
        <div class="agenda-item-decided">%(label_agenda_item_decided)s</div>
        {{/if}}

        <div class="action-buttons">
          {{#if ../editable}}
          {{#if edit_document_button.visible}}
          <a href="{{edit_document_button.url}}" class="button edit-document" {{#unless edit_document_button.active}}disabled{{/unless}}>%(action_edit_document)s</a>
          {{/if}}

          {{#if decide_link}}
          <a href="{{decide_link}}" class="button decide-agenda-item">%(action_decide)s</a>
          {{/if}}

          {{#if revise_link}}
          <a href="{{revise_link}}" class="button revise-agenda-item">%(action_decide)s</a>
          {{/if}}

          {{#if generate_excerpt_link}}
          <a href="{{generate_excerpt_link}}" class="button generate-excerpt" data-default-title="{{generate_excerpt_default_title}}">%(action_generate_excerpt)s</a>
          {{/if}}

          {{#if (or ../agendalist_editable reopen_link)}}
          <a href="#" class="button editing-menu">&#133;</a>
          {{/if}}
          {{/if}}

        </div>

        {{#if (or ../agendalist_editable reopen_link)}}
        <ul class="editing-menu">
          {{#if ../agendalist_editable}}
            {{#if paragraph}}
              <li><a href="{{edit_link}}" class="rename-agenda-item">%(action_rename_agenda_paragraph)s</a></li>
              <li><a href="{{delete_link}}" class="delete-agenda-item">%(action_remove_agenda_paragraph)s</a></li>
            {{else}}
              <li><a href="{{edit_link}}" class="rename-agenda-item">%(action_rename_agenda_item)s</a></li>
              <li><a href="{{delete_link}}" class="delete-agenda-item">%(action_remove_agenda_item)s</a></li>
            {{/if}}
          {{/if}}
          {{#if reopen_link}}
          <li><a href="{{reopen_link}}" class="reopen-agenda-item">%(action_reopen)s</a></li>
          {{/if}}
          {{#if debug_excerpt_docxcompose_link}}
          <li><a href="{{debug_excerpt_docxcompose_link}}" class="debug-excerpt-docxcompose">%(action_debug_excerpt_docxcompose)s</a></li>
          {{/if}}
        </ul>
        {{/if}}

      </div>


      {{#if decision_number}}
      <span class="decision_number" title="%(label_decision_number)s">
        # {{decision_number}}
      </span>
      {{/if}}
      {{#if has_documents}}
      <div class="toggle-attachements">
        <a class="toggle-attachements-btn"
           title="%(label_toggle_attachments)s" />
      </div>
      {{/if}}
      <span class="number"
            title="%(label_agenda_item_number)s">
        {{number}}
      </span>
      <span class="proposal_title">{{{link}}}</span>
      <span class="proposal_description">{{{description}}}</span>
      <div class="edit-box">
        <div class="input-group">
          <input type="text" {{#if has_proposal}}maxlength="%(max_proposal_title_length)i"{{/if}} />
          <div class="button-group">
            <input value="%(label_edit_save)s" type="button" class="button edit-save" />
            <input value="%(label_edit_cancel)s" type="button" class="button edit-cancel" />
          </div>
        </div>
      </div>
      {{#if document_link}}
      <div class="proposal_document {{#if document_checked_out}}checked-out{{/if}}">{{{document_link}}}</div>

      {{#if excerpts}}

      <div>
        <div class="documents_label">%(label_excerpts)s:</div>
        <ul class="documents-list">
          {{#each excerpts}}
          <li class="excerpt">
            <div class="create-task">
              {{#if create_task_url}}
              <a href="{{create_task_url}}" title="%(help_create_task)s">%(action_create_task)s</a>
              {{/if}}
            </div>
            <div class="return-excerpt">
              {{#if return_link}}
              <a href="{{return_link}}" class="return-excerpt-btn" title="%(help_return_excerpt)s">%(action_return_excerpt)s</a>
              {{/if}}
              {{#if is_excerpt_in_source_dossier}}
              <span class="returned" title="%(help_returned_excerpt)s">
                %(label_returned_excerpt)s
              </span>
              {{/if}}
            </div>
            <div class="excerpt-link">{{{link}}}</div>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{#if has_documents}}
      <div class="attachements">
        <div class="documents_label">%(label_attachments)s:</div>
        <ul class="documents-list">
          {{#each documents}}
          <li>
            {{{link}}}
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{/if}}
    </td>
  </tr>
  {{/each}}
</script>
