<script id="agendaitemsTemplate" type="text/x-handlebars-template">
  {{#each agendaitems}}
  <tr class="{{css_class}} word-feature agenda_item" data-uid={{id}}>
    {{#if ../agendalist_editable}}<td class="sortable-handle"></td>{{/if}}
    <td class="title">
      {{#if decision_number}}
      <span class="decision_number" title="%(label_decision_number)s">
        # {{decision_number}}
      </span>
      {{/if}}
      {{#if has_documents}}
      <div class="toggle-attachements">
        <a class="toggle-attachements-btn"
           title="%(label_toggle_attachments)s" />
      </div>
      {{/if}}
      <span class="number"
            title="%(label_agenda_item_number)s">
        {{number}}
      </span>
      <span class="proposal_title">{{{link}}}</span>
      <div class="edit-box">
        <div class="input-group">
          <input type="text" {{#if has_proposal}}maxlength="%(max_proposal_title_length)i"{{/if}} />
          <div class="button-group">
            <input value="%(label_edit_save)s" type="button" class="button edit-save" />
            <input value="%(label_edit_cancel)s" type="button" class="button edit-cancel" />
          </div>
        </div>
      </div>
      {{#if document_link}}
      <div class="proposal_document {{#if document_checked_out}}checked-out{{/if}}">{{{document_link}}}</div>

      {{#if excerpts}}
      <div>
        <div class="documents_label">%(label_excerpts)s:</div>
        <ul class="documents-list">
          {{#each excerpts}}
          <li>
            {{{link}}}
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{#if has_documents}}
      <div class="attachements">
        <div class="documents_label">%(label_attachments)s:</div>
        <ul class="documents-list">
          {{#each documents}}
          <li>
            {{{link}}}
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{/if}}
      {{#if excerpt}}
      <div class="summary">
        {{{excerpt}}}
      </div>
      {{/if}}
    </td>
    {{#if ../editable}}
    <td class="actions">
      <div class="button-group">
        {{#if edit_proposal_document_button.visible}}
        <a href="{{edit_proposal_document_button.url}}" title="%(label_edit_document_action)s" class="button edit-document" {{#unless edit_proposal_document_button.active}}disabled{{/unless}}><span></span></a>
        {{/if}}
        {{#if ../agendalist_editable}}
        <a href="{{edit_link}}" title="%(label_edit_action)s" class="button edit-agenda-item"></a>
        <a href="{{delete_link}}" title="%(label_delete_action)s" class="button delete-agenda-item"></a>
        {{/if}}
        {{#if decide_link}}
        <a href="{{decide_link}}" title="%(label_decide_action)s" class="button decide-agenda-item"><span></span></a>
        {{/if}}
        {{#if reopen_link}}
        <a href="{{reopen_link}}" title="%(label_reopen_action)s" class="button reopen-agenda-item"><span></span></a>
        {{/if}}
        {{#if revise_link}}
        <a href="{{revise_link}}" title="%(label_revise_action)s" class="button revise-agenda-item"><span></span></a>
        {{/if}}
        {{#if generate_excerpt_link}}
        <a href="{{generate_excerpt_link}}" title="%(label_generate_excerpt)s" class="button generate-excerpt"><span></span></a>
        {{/if}}
      </div>
    </td>
    {{/if}}
  </tr>
  {{/each}}
</script>
