<script id="agendaitemsTemplate" type="text/x-handlebars-template">
  {{#each agendaitems}}
  <tr class="{{css_class}}" data-uid={{id}}>
    {{#if ../agendalist_editable}}<td class="sortable-handle"></td>{{/if}}
    <td class="number">{{number}}</td>
    <td class="title">
      <span class="proposal_title">{{{link}}}</span>
      {{#if has_proposal}}
      <ul class="attachements">
        {{#each documents}}
        <li>
          {{{link}}}
        </li>
        {{/each}}
      </ul>
      {{/if}}
      {{#if excerpt}}
      <div class="summary">
        {{{excerpt}}}
      </div>
      {{/if}}
      <div class="edit-box">
        <div class="input-group">
          <input type="text" {{#if has_proposal}}maxlength="%(max_proposal_title_length)i"{{/if}} />
          <div class="button-group">
            <input value="%(label_edit_save)s" type="button" class="button edit-save" />
            <input value="%(label_edit_cancel)s" type="button" class="button edit-cancel" />
          </div>
        </div>
      </div>
    </td>
    <td class="toggle-attachements">
      {{#if has_documents}}
      <a class="toggle-attachements-btn"></a>
      {{/if}}
    </td>
    {{#if ../editable}}
    <td class="actions">
      <div class="button-group">
        {{#if ../agendalist_editable}}
          {{#if paragraph}}
            <a href="{{edit_link}}" title="%(action_rename_agenda_paragraph)s" class="button edit-agenda-item"></a>
            <a href="{{delete_link}}" title="%(action_remove_agenda_paragraph)s" class="button delete-agenda-item"></a>
          {{else}}
            <a href="{{edit_link}}" title="%(action_rename_agenda_item)s" class="button edit-agenda-item"></a>
            <a href="{{delete_link}}" title="%(action_remove_agenda_item)s" class="button delete-agenda-item"></a>
          {{/if}}
        {{/if}}
        {{#if decide_link}}
        <a href="{{decide_link}}" title="%(label_decide_action)s" class="button decide-agenda-item"><span></span></a>
        {{/if}}
        {{#if reopen_link}}
        <a href="{{reopen_link}}" title="%(label_reopen_action)s" class="button reopen-agenda-item"><span></span></a>
        {{/if}}
        {{#if revise_link}}
        <a href="{{revise_link}}" title="%(label_revise_action)s" class="button revise-agenda-item"><span></span></a>
        {{/if}}
      </div>
    </td>
    {{/if}}
  </tr>
  {{/each}}
</script>
