<script type="text/x-template" id="meeting-zip-export">

  <div>
    <div class="zipExportDescription">
      <dl v-if="isDocumentSkipped" class="portalMessage warning">
          <dt>{{i18n.label_warning}}</dt>
          <dd>{{i18n.msg_some_documents_remain_unconverted}}</dd>
      </dl>
      <div v-if="isFinished">
          {{i18n.msg_zip_ready_for_download}}
      </div>
      <dl v-else-if="isTimeout" class="portalMessage error">
          <dt>{{i18n.label_error}}</dt>
          <dd>{{i18n.msg_zip_timeout}}</dd>
      </dl>
      <dl v-else-if="isError" class="portalMessage error">
          <dt>{{i18n.label_error}}</dt>
          <dd>{{i18n.msg_zip_error}}</dd>
      </dl>
      <div v-else>
          {{i18n.msg_zip_creation_in_progress}}
      </div>
      <div class="discreet">
        {{i18n.desc_pdf_zip_contents}}
      </div>
    </div>

    <div class="downloadButtonBox">
      <a v-if="isFinished" class="button confirm context" :href="downloadurl">
        {{i18n.label_button_download_zip}}
      </a>
      <span v-else-if="isError" class="button disabled">
        {{i18n.label_button_error}}
      </span>
      <span v-else class="button disabled loading">
        {{i18n.label_button_creation_in_progress}}
      </span>
      <a :href="meetingurl">{{i18n.label_backlink_to_meeting}}</a>
    </div>
  </div>

</script>
